.Build/
.DS_Store
.DS_Store?
.Spotlight-V100
.Trashes
._*
.idea/
.php_cs.cache
.phpunit.result.cache
.sass-cache
.sass-cache/
.svn
/.config/
/.env.local
/.php-cs-fixer.cache
/.phpunit.cache/
/CLAUDE.md
/Tests/Acceptance/_output/*
/Tests/Acceptance/_support/_generated/
/config/
/docker-compose.yml
Resources/Private/Build/node_modules/
Thumbs.db
composer.lock
dynamicReturnTypeMeta.json
ehthumbs.db
msi.iws
nbproject/
node_modules/
npm-debug.log
package-lock.json
var/
