<div class="panel panel-default flex">
    <div class="panel-heading">
        <h3 class="panel-title">
            <f:translate key="LLL:EXT:lux/Resources/Private/Language/locallang_db.xlf:module.analysis.log">Log</f:translate>
        </h3>
    </div>
    <div class="panel-body">
        <f:if condition="{interestingLogs}">
            <f:then>
                <div style="{style}">
                    <nav class="timeline timeline--vertical">
                        <f:for each="{interestingLogs}" as="log">
                            <div class="timeline__item" title="{lux:format.readableDate(date:log.crdate)} ({f:format.date(date:log.crdate,format:'{f:translate(key:\'LLL:EXT:lux/Resources/Private/Language/locallang_db.xlf:date\')}')})">
                                <div style="margin-top: 5px;">
                                    <f:render section="status{log.status}" optional="true" arguments="{_all}" />
                                </div>
                            </div>
                        </f:for>
                    </nav>
                </div>
            </f:then>
            <f:else>
                <f:render partial="Miscellaneous/NoValues" arguments="{_all}"/>
            </f:else>
        </f:if>
    </div>
</div>



<f:section name="status1">
    <strong><f:translate key="LLL:EXT:lux/Resources/Private/Language/locallang_db.xlf:module.analysis.log.status.1">New lead</f:translate></strong><br />
    <f:link.action action="detail" controller="Lead" arguments="{visitor:log.visitor}"><span title="UID:{log.visitor.uid}"><f:translate key="LLL:EXT:lux/Resources/Private/Language/locallang_db.xlf:anonym">Anonymous</f:translate></span></f:link.action>
    <f:if condition="{log.visitor.location}">({log.visitor.location})</f:if>
</f:section>



<f:section name="status2">
    <strong><f:translate key="LLL:EXT:lux/Resources/Private/Language/locallang_db.xlf:module.analysis.log.status.2">Identified lead:</f:translate></strong><br />
    <f:link.action action="detail" controller="Lead" arguments="{visitor:log.visitor}"><span title="UID:{log.visitor.uid}">{log.visitor.fullName}</span></f:link.action>
    <f:if condition="{log.visitor.location}">({log.visitor.location})</f:if>
</f:section>



<f:section name="status21">
    <strong><f:translate key="LLL:EXT:lux/Resources/Private/Language/locallang_db.xlf:module.analysis.log.status.21">Identified lead with "email4link"</f:translate></strong><br />
    <f:link.action action="detail" controller="Lead" arguments="{visitor:log.visitor}"><span title="UID:{log.visitor.uid}">{log.visitor.fullName}</span></f:link.action>
    <f:if condition="{log.visitor.location}">({log.visitor.location})</f:if>
</f:section>



<f:section name="status22">
    <strong><f:translate key="LLL:EXT:lux/Resources/Private/Language/locallang_db.xlf:module.analysis.log.status.22">Send asset</f:translate></strong><br />
    <a href="/{log.href}" target="_blank"><lux:format.getFilenameFromPathAndFilename pathAndFilename="{log.href}" /></a>
    <span title="UID:{log.visitor.uid}">(<f:link.action action="detail" controller="Lead" arguments="{visitor:log.visitor}">{log.visitor.fullName}</f:link.action>)</span>
</f:section>



<f:section name="status23">
    <strong><f:translate key="LLL:EXT:lux/Resources/Private/Language/locallang_db.xlf:module.analysis.log.status.23">Send asset failed</f:translate></strong><br />
    <a href="/{log.href}" target="_blank"><lux:format.getFilenameFromPathAndFilename pathAndFilename="{log.href}" /></a>
    <span title="UID:{log.visitor.uid}">(<f:link.action action="detail" controller="Lead" arguments="{visitor:log.visitor}">{log.visitor.fullName}</f:link.action>)</span>
</f:section>



<f:section name="status25">
    <strong><f:translate key="LLL:EXT:lux/Resources/Private/Language/locallang_db.xlf:module.analysis.log.status.25">Identified lead with "formlistening"</f:translate></strong><br />
    <f:link.action action="detail" controller="Lead" arguments="{visitor:log.visitor}"><span title="UID:{log.visitor.uid}">{log.visitor.fullName}</span></f:link.action>
    <f:if condition="{log.visitor.location}">({log.visitor.location})</f:if>
</f:section>



<f:section name="status26">
    <strong><f:translate key="LLL:EXT:lux/Resources/Private/Language/locallang_db.xlf:module.analysis.log.status.26">Identified lead with a "frontendlogin"</f:translate></strong><br />
    <f:link.action action="detail" controller="Lead" arguments="{visitor:log.visitor}"><span title="UID:{log.visitor.uid}">{log.visitor.fullName}</span></f:link.action>
    <f:if condition="{log.visitor.location}">({log.visitor.location})</f:if>
</f:section>



<f:section name="status28">
    <strong><f:translate key="LLL:EXT:lux/Resources/Private/Language/locallang_db.xlf:module.analysis.log.status.28">Identified lead with "luxletterlink"</f:translate></strong><br />
    <f:link.action action="detail" controller="Lead" arguments="{visitor:log.visitor}"><span title="UID:{log.visitor.uid}">{log.visitor.fullName}</span></f:link.action>
    <f:if condition="{log.visitor.location}">({log.visitor.location})</f:if>
</f:section>



<f:section name="status50">
    <strong><f:translate key="LLL:EXT:lux/Resources/Private/Language/locallang_db.xlf:module.analysis.log.status.50">Download tracked</f:translate></strong><br />
    <a href="/{log.href}" target="_blank"><lux:format.getFilenameFromPathAndFilename pathAndFilename="{log.href}" /></a>
    <span title="UID:{log.visitor.uid}">(<f:link.action action="detail" controller="Lead" arguments="{visitor:log.visitor}">{log.visitor.fullName}</f:link.action>)</span>
</f:section>



<f:section name="status60">
    <strong><f:translate key="LLL:EXT:lux/Resources/Private/Language/locallang_db.xlf:module.analysis.log.status.60">Workflow action</f:translate></strong><br />
    {log.workflowTitle}
    <span title="UID:{log.visitor.uid}">(<f:link.action action="detail" controller="Lead" arguments="{visitor:log.visitor}">{log.visitor.fullName}</f:link.action>)</span>
</f:section>



<f:section name="status70">
    <strong><f:translate key="LLL:EXT:lux/Resources/Private/Language/locallang_db.xlf:module.analysis.log.status.70">Contextual Content</f:translate></strong><br />
    <span title="UID{log.shownContentUid}: {lux:repository.getContentHeaderFromContentUid(uid:log.shownContentUid)}"><f:format.crop maxCharacters="25" append=" ..."><lux:repository.getContentHeaderFromContentUid uid="{log.shownContentUid}" /></f:format.crop></span>
    <span title="UID:{log.visitor.uid}">(<f:link.action action="detail" controller="Lead" arguments="{visitor:log.visitor}">{log.visitor.fullName}</f:link.action>)</span>
</f:section>



<f:section name="status80">
	<strong><f:translate key="LLL:EXT:lux/Resources/Private/Language/locallang_db.xlf:module.analysis.log.status.80">Link click tracked</f:translate></strong><br />
	"{log.tag}" PageUid: {log.pageUid}
	<span title="UID:{log.visitor.uid}">(<f:link.action action="detail" controller="Lead" arguments="{visitor:log.visitor}">{log.visitor.fullName}</f:link.action>)</span>
</f:section>
