<div class="panel panel-default flex">
    <div class="panel-heading">
        <h3 class="panel-title">
            <f:translate key="LLL:EXT:lux/Resources/Private/Language/locallang_db.xlf:module.analysis.log">Log</f:translate>
            <f:if condition="{interestingLogs}"><span class="badge pull-right">{interestingLogs -> f:count()}</span></f:if>
        </h3>
    </div>
    <div class="panel-body">
        <f:if condition="{interestingLogs}">
            <f:then>
                <div style="{style}">
                    <nav class="timeline timeline--vertical">
                        <f:for each="{interestingLogs}" as="log">
                            <div class="timeline__item" title="{lux:format.readableDate(date:log.crdate)} ({f:format.date(date:log.crdate,format:'{f:translate(key:\'LLL:EXT:lux/Resources/Private/Language/locallang_db.xlf:date\')}')}){f:if(condition:log.pageUid,then:' PID{log.pageUid}')}" data-record="{log.uid}">
                                <div style="margin-top: 5px;">
                                    <strong><f:translate key="LLL:EXT:lux/Resources/Private/Language/locallang_db.xlf:module.analysis.log.status.{log.status}" default="No translation found to log status {log.status}" /></strong><br />
                                    <f:render section="status{log.status}" optional="true" arguments="{_all}" />
                                </div>
                            </div>
                        </f:for>
                    </nav>
                </div>
            </f:then>
            <f:else>
                <f:render partial="Miscellaneous/NoValues" arguments="{_all}"/>
            </f:else>
        </f:if>
    </div>
</div>



<f:section name="status1">
    <f:link.action action="detail" controller="Lead" arguments="{visitor:log.visitor}"><span title="UID:{log.visitor.uid}"><f:translate key="LLL:EXT:lux/Resources/Private/Language/locallang_db.xlf:anonym">Anonymous</f:translate></span></f:link.action>
    <f:if condition="{log.visitor.location}">({log.visitor.location})</f:if>
</f:section>



<f:section name="status2">
    <f:link.action action="detail" controller="Lead" arguments="{visitor:log.visitor}"><span title="UID:{log.visitor.uid}">{log.visitor.fullName}</span></f:link.action>
    <f:if condition="{log.visitor.location}">({log.visitor.location})</f:if>
</f:section>



<f:section name="status21">
    <f:link.action action="detail" controller="Lead" arguments="{visitor:log.visitor}"><span title="UID:{log.visitor.uid}">{log.visitor.fullName}</span></f:link.action>
    <f:if condition="{log.visitor.location}">({log.visitor.location})</f:if>
</f:section>



<f:section name="status22">
    <a href="/{log.href}" target="_blank"><lux:format.getFilenameFromPathAndFilename pathAndFilename="{log.href}" /></a>
    <span title="UID:{log.visitor.uid}">(<f:link.action action="detail" controller="Lead" arguments="{visitor:log.visitor}">{log.visitor.fullName}</f:link.action>)</span>
</f:section>



<f:section name="status23">
    <a href="/{log.href}" target="_blank"><lux:format.getFilenameFromPathAndFilename pathAndFilename="{log.href}" /></a>
    <span title="UID:{log.visitor.uid}">(<f:link.action action="detail" controller="Lead" arguments="{visitor:log.visitor}">{log.visitor.fullName}</f:link.action>)</span>
</f:section>



<f:section name="status25">
    <f:link.action action="detail" controller="Lead" arguments="{visitor:log.visitor}"><span title="UID:{log.visitor.uid}">{log.visitor.fullName}</span></f:link.action>
    <f:if condition="{log.visitor.location}">({log.visitor.location})</f:if>
</f:section>



<f:section name="status26">
    <f:link.action action="detail" controller="Lead" arguments="{visitor:log.visitor}"><span title="UID:{log.visitor.uid}">{log.visitor.fullName}</span></f:link.action>
    <f:if condition="{log.visitor.location}">({log.visitor.location})</f:if>
</f:section>



<f:section name="status28">
    <f:link.action action="detail" controller="Lead" arguments="{visitor:log.visitor}"><span title="UID:{log.visitor.uid}">{log.visitor.fullName}</span></f:link.action>
    <f:if condition="{log.visitor.location}">({log.visitor.location})</f:if>
</f:section>



<f:section name="status48">
    "{log.eventName}"
    <span title="UID:{log.visitor.uid}">(<f:link.action action="detail" controller="Lead" arguments="{visitor:log.visitor}">{log.visitor.fullName}</f:link.action>)</span>
</f:section>



<f:section name="status50">
    <a href="/{log.href}" target="_blank"><lux:format.getFilenameFromPathAndFilename pathAndFilename="{log.href}" /></a>
    <span title="UID:{log.visitor.uid}">(<f:link.action action="detail" controller="Lead" arguments="{visitor:log.visitor}">{log.visitor.fullName}</f:link.action>)</span>
</f:section>



<f:section name="status55">
    Searchterm "{log.search.searchterm}"
    <span title="UID:{log.visitor.uid}">(<f:link.action action="detail" controller="Lead" arguments="{visitor:log.visitor}">{log.visitor.fullName}</f:link.action>)</span>
</f:section>



<f:section name="status60">
    {log.workflowTitle}
    <span title="UID:{log.visitor.uid}">(<f:link.action action="detail" controller="Lead" arguments="{visitor:log.visitor}">{log.visitor.fullName}</f:link.action>)</span>
</f:section>



<f:section name="status61">
    {log.actionTitle}
    <f:translate key="LLL:EXT:lux/Resources/Private/Language/locallang_db.xlf:module.analysis.log.status.61.label" />
    <f:format.date format="d.m.Y H:i">@{log.actionExecutionTime}</f:format.date>
</f:section>



<f:section name="status70">
    <span title="UID{log.shownContentUid}: {lux:repository.getContentHeaderFromContentUid(uid:log.shownContentUid)}"><f:format.crop maxCharacters="25" append=" ..."><lux:repository.getContentHeaderFromContentUid uid="{log.shownContentUid}" /></f:format.crop></span>
    <span title="UID:{log.visitor.uid}">(<f:link.action action="detail" controller="Lead" arguments="{visitor:log.visitor}">{log.visitor.fullName}</f:link.action>)</span>
</f:section>



<f:section name="status80">
    "{log.linklistener.title}" PageUid: {log.pageUid}
    <span title="UID:{log.visitor.uid}">(<f:link.action action="detail" controller="Lead" arguments="{visitor:log.visitor}">{log.visitor.fullName}</f:link.action>)</span>
</f:section>



<f:section name="status100">
    "{log.shortenerpath}"
    <span title="UID:{log.visitor.uid}">(<f:link.action action="detail" controller="Lead" arguments="{visitor:log.visitor}">{log.visitor.fullName}</f:link.action>)</span>
</f:section>



<f:section name="status200">
    "{log.abTestingPage.title} on PID{log.pageUid}"
    <span title="UID:{log.visitor.uid}">(<f:link.action action="detail" controller="Lead" arguments="{visitor:log.visitor}">{log.visitor.fullName}</f:link.action>)</span>
</f:section>



<f:section name="status300">
    <f:translate key="LLL:EXT:lux/Resources/Private/Language/locallang_db.xlf:dictionary.campaign"/>: {log.utm.utmCampaign} ({log.utm.utmId})<br />
    <f:translate key="LLL:EXT:lux/Resources/Private/Language/locallang_db.xlf:dictionary.source"/>: {log.utm.utmSource}<br />
    <f:translate key="LLL:EXT:lux/Resources/Private/Language/locallang_db.xlf:dictionary.medium"/>: {log.utm.utmMedium}<br />
    <span title="UID:{log.visitor.uid}"><f:link.action action="detail" controller="Lead" arguments="{visitor:log.visitor}">{log.visitor.fullName}</f:link.action></span>
    <f:if condition="{log.visitor.location}">({log.visitor.location})</f:if>
</f:section>
