<div class="panel panel-default flex">
    <div class="panel-heading">
        <h3 class="panel-title">
            <f:translate key="LLL:EXT:lux/Resources/Private/Language/locallang_db.xlf:module.analysis.statistics">Statistics</f:translate>
        </h3>
    </div>
    <div class="panel-body">
        <ol class="list-group">
            <li class="list-group-item">
                <f:translate key="LLL:EXT:lux/Resources/Private/Language/locallang_db.xlf:module.analysis.statistics.linkclicks">Tracked link clicks</f:translate>
                <span class="badge">{statistics.linkclicks}</span>
            </li>
            <li class="list-group-item">
                <f:translate key="LLL:EXT:lux/Resources/Private/Language/locallang_db.xlf:module.analysis.statistics.visitors">Number of visitors</f:translate>
                <span class="badge">{statistics.visitors}</span>
            </li>
            <li class="list-group-item">
                <f:translate key="LLL:EXT:lux/Resources/Private/Language/locallang_db.xlf:module.analysis.statistics.luxcategories">Identified per Luxletter</f:translate>
                <span class="badge">{statistics.luxcategories}</span>
            </li>
            <li class="list-group-item">
                <f:translate key="LLL:EXT:lux/Resources/Private/Language/locallang_db.xlf:module.analysis.statistics.fingerprints">Fingerprint records</f:translate>
                <span class="badge">{statistics.fingerprints}</span>
            </li>
            <li class="list-group-item">
                <f:translate key="LLL:EXT:lux/Resources/Private/Language/locallang_db.xlf:module.analysis.statistics.ipinformation">IP Information records</f:translate>
                <span class="badge">{statistics.ipinformations}</span>
            </li>
            <li class="list-group-item">
                <f:translate key="LLL:EXT:lux/Resources/Private/Language/locallang_db.xlf:module.analysis.statistics.log">Log records</f:translate>
                <span class="badge">{statistics.logs}</span>
            </li>
            <li class="list-group-item">
                <f:translate key="LLL:EXT:lux/Resources/Private/Language/locallang_db.xlf:module.analysis.statistics.versionlux">LUX Version</f:translate>
                <span class="badge">{statistics.versionLux}</span>
            </li>
            <li class="list-group-item">
                <f:translate key="LLL:EXT:lux/Resources/Private/Language/locallang_db.xlf:module.analysis.statistics.versionluxenterprise">Luxenterprise Version</f:translate>
                <span class="badge"><f:if condition="{statistics.versionLuxenterprise} == ''"><f:then>not installed</f:then><f:else>{statistics.versionLuxenterprise}</f:else></f:if></span>
            </li>
            <li class="list-group-item">
                <f:translate key="LLL:EXT:lux/Resources/Private/Language/locallang_db.xlf:module.analysis.statistics.versionluxletter">Luxletter Version</f:translate>
                <span class="badge"><f:if condition="{statistics.versionLuxletter} == ''"><f:then>not installed</f:then><f:else>{statistics.versionLuxletter}</f:else></f:if></span>
            </li>
        </ol>
    </div>
</div>
