@import "Settings";

/* wizard with arrows */
.nomargin {
  padding: 0 !important;
  margin: 0 !important;
}

.wizard {
  display: flex;
}

.wizard a {
  align-items: center;
  background: light-dark($colorGreyBright, $colorGreyDark);
  color: $white;
  cursor: pointer;
  display: flex;
  flex: 1;
  font-size: 18px;
  font-weight: bold;
  gap: 8px;
  justify-content: center;
  margin-bottom: 20px;
  margin-left: 3px;
  min-height: 68px;
  padding: 19px 12px 19px;
  position: relative;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
}

.wizard a:hover {
  text-decoration: none;
}

.wizard a:first-child {
  margin-left: 0;
}

.wizard:not(.left-arrow) a:before {
  width: 0;
  height: 0;
  border-top: 34px inset transparent;
  border-bottom: 34px inset transparent;
  border-left: 34px solid var(--typo3-component-bg);
  position: absolute;
  content: "";
  top: 0;
  left: 0;

  .lux--12 & {
    border-left-color: var(--panel-bg);
  }
}

.wizard:not(.left-arrow) a:after {
  width: 0;
  height: 0;
  border-top: 34px inset transparent;
  border-bottom: 34px inset transparent;
  border-left: 34px solid light-dark($colorGreyBright, $colorGreyDark);
  position: absolute;
  content: "";
  top: 0;
  right: -34px;
  z-index: 2;
}

.wizard.left-arrow a:before {
  width: 0;
  height: 0;
  border-top: 34px inset transparent;
  border-bottom: 34px inset transparent;
  border-right: 34px solid light-dark($colorGreyBright, $colorGreyDark);
  position: absolute;
  content: "";
  top: 0;
  left: -34px;
  z-index: 2;
}

.wizard.left-arrow a:after {
  width: 0;
  height: 0;
  border-top: 34px inset transparent;
  border-bottom: 34px inset transparent;
  border-right: 34px solid $white;
  position: absolute;
  content: "";
  top: 0;
  right: 0;
  z-index: 2;
}

.wizard a:first-child:before,
.wizard a:last-child:after {
  border: none;
}

.wizard a:first-child {
  -webkit-border-radius: 4px 0 0 4px;
  -moz-border-radius: 4px 0 0 4px;
  border-radius: 4px 0 0 4px;
}

.wizard a:last-child {
  -webkit-border-radius: 0 4px 4px 0;
  -moz-border-radius: 0 4px 4px 0;
  border-radius: 0 4px 4px 0;
}

.wizard.left-arrow a:last-child:before,
.wizard.small.left-arrow a:last-child:before {
  border-right-color: $colorMain;
}

.lux .wizard .badge {
  position: relative;
  border-radius: 20px;
  font-size: 18px;
  background: $white;
  border-color: transparent;
  color: light-dark($colorGreyBright, $colorGreyDark);

  .number {
    display: inline-block;
  }
}

.wizard a:not(:first-child) .badge {
  @media (max-width: 1000px) {
    transform: translateX(17px);
  }
}

.lux .wizard .badge-text {
  display: none;

  @media (min-width: 1000px) {
    display: inline-block;
  }
}

.wizard a:first-child .badge {
  margin-left: 0;
}

.wizard .current, .wizard a.progress-current {
  background: $colorMain;
  color: $white;

  .badge {
    color: $colorMain;
  }
}

.wizard a.current:after, .wizard a.progress-current:after {
  border-left-color: $colorMain !important;
}

.wizard.left-arrow a.current:before, .wizard.left-arrow a.progress-current:before,
.wizard.small.left-arrow a.current:before, .wizard.small.left-arrow a.progress-current:before {
  border-right-color: $colorMain;
}

.wizard.small {
  margin-bottom: 15px;
}

.wizard.small a {
  padding: 5px 12px 5px;
}

.wizard.small:not(.left-arrow) a:before {
  border-top: 15px inset transparent;
  border-bottom: 15px inset transparent;
  border-left: 15px solid $white;
}

.wizard.small:not(.left-arrow) a:after {
  border-top: 15px inset transparent;
  border-bottom: 15px inset transparent;
  border-left: 15px solid $colorSoft;
  right: -15px;
}

.wizard.small.left-arrow a:before {
  border-top: 15px inset transparent;
  border-bottom: 15px inset transparent;
  border-right: 15px solid $colorSoft;
  left: -15px;
  z-index: 2;
}

.wizard.small.left-arrow a:after {
  width: 0;
  height: 0;
  border-top: 15px inset transparent;
  border-bottom: 15px inset transparent;
  border-right: 15px solid $white;
}

.wizard.small a:first-child:before,
.wizard.small a:last-child:after {
  border: none;
}

/* IE11 border bug fixes... hooray! */
_:-ms-fullscreen, :root .wizard.small.left-arrow a:before {
  left: -14px;
}

_:-ms-fullscreen, :root .wizard.small:not(.left-arrow) a:after {
  right: -14px;
}

_:-ms-fullscreen, :root .wizard.left-arrow a:before {
  left: -29px;
}

_:-ms-fullscreen, :root .wizard:not(.left-arrow) a:after {
  right: -29px;
}
