@import "Settings";
@import "Timeline";
@import "Wizard";
@import "WizardForm";
@import "Grid";

/**
 * General backend classes
 */
a:not(.btn):not(.nolink):not(.colorwhite) {
    color: $colorAlternative !important;
    cursor: pointer !important;
}

hr {
    border-style: dashed;
    border-color: $colorGrey;
    border-bottom: 0;
    border-left: 0;
    border-right: 0;
    margin: 40px 0;
}

label {
    font-weight: normal;
}

.color-lux {
    color: $colorMain;
}

.color-grey {
    color: $colorGrey;
}

.hidden {
    display: none;
}

.unitajax {
    position: relative;
    overflow: hidden;
    min-height: 300px;
    background-color: light-dark($colorGrey, $black);
    border: 2px dashed light-dark($colorGreyBright, $colorGreyDark);
    margin-bottom: 1.125rem;
}

.unitajax-spinner {
    display: inline-block;
    border-radius: 50%;
    border: 6px solid rgba(255,255,255,.3);
    border-top-color: $colorMain;
    animation: spin 1s ease-in-out infinite;
    top: 50%;
    left: 50%;
    position: absolute;
    width: 50px;
    height: 50px;
    margin: -25px 0 0 -25px;
}

.luxspinner {
    display: inline-block;
    width: 20px;
    height: 20px;
    border: 3px solid rgba(255,255,255,.3);
    border-radius: 50%;
    border-top-color: $colorMain;
    animation: spin 1s ease-in-out infinite;
}

@keyframes spin {
    to { transform: rotate(360deg); }
}

/**
 * Bootstrap
 */
.lux {
    --bs-primary-rgb: 165, 231, 255;

    h3 {
        font-weight: bold;
    }

    .row + .row:not(.lux-trigger) {
        margin-top: .5rem;
    }

    .row.flex {
        @media screen and (min-width: 992px) {
            display: -webkit-box;
            display: -webkit-flex;
            display: -ms-flexbox;
            display: flex;
            flex-wrap: wrap;
        }
    }

    .row > .flex[class*='col-'] {
        @media screen and (min-width: 992px) {
            display: flex;
            flex-direction: column;
        }
    }

    .panel-body {
        overflow: hidden;
    }

    .panel.flex {
        height: 100%;
    }

    .bg-primary {
        background-color: $colorMain !important;
        border: 1px solid $colorMain;

        li {
            color: white;
        }
    }

    .badge {
        background-color: #5a5a5a;
        color: white;
        border-radius: 10px;
        font-size: 11px;
        padding: 3px 7px;

        &.badge-primary {
            background-color: $colorMain;
        }
    }

    .alert-lux {
        background-color: $colorMain;
    }

    .alert-warning {
        background-color: $colorSecondary;
        color: $black;
    }

    .form-select.form-control-lg {
        font-size: 0.9375rem;
        padding: 0.5rem 1rem;
    }

    .input-group-addon {
        border: none;
        background-color: #eee;
    }

    .collapse-arrow {
        &:after {
            content: "";
            width: 0;
            height: 0;
            border-left: 5px solid transparent;
            border-right: 5px solid transparent;
            border-bottom: none;
            border-top: 5px solid light-dark($colorGreyDark, $colorGrey);
            display: inline-block;
        }

        &.collapsed:after {
            border-top: none;
            border-bottom: 5px solid light-dark($colorGreyDark, $colorGrey);
            margin-bottom: 1px;
        }
    }

    .pull-right {
        float: right !important;
    }

    .pull-left {
        float: left !important;
    }

    /**
     * Button classes
     */
    .btn-lg-extra {
        padding: 30px 60px;
        font-size: 25px;
        line-height: 2;
        border-radius: 5px;
    }

    .btn-primary {
        background-color: $colorMain;
        border-color: $colorMain;
        color: $white;

        &:hover,
        &:active,
        &:focus,
        &:hover:active {
            background-color: $colorAlternative;
            border-color: $colorAlternative;
        }
    }

    .btn-secondary {
        background-color: #eeeeee;
        border-color: #bbbbbb;
        color: black;
    }

    .btn-primary-extra {
        appearance: none;
        -moz-appearance: none;
        -webkit-appearance: none;
        left: 50%;
        top: 50%;
        margin-top: -100px;
        margin-left: -200px;
        position: fixed;
        line-height: 1.6;

        > span {
            display: block;
            font-size: 16px;
        }
    }

    .btn-add-lg {
        display: block;
        width: 100%;
        padding: 5px;
        font-weight: bold;
        font-size: 19px;
    }

    .pagination {
        margin: 0;

        > .active > .page-link {
            background-color: $colorMain;
            border-color: $colorGrey;
        }
    }

    /**
     * Form classes
     */
    .lb-lg {
        font-size: 20px;
        margin-bottom: 5px;
    }

    .help-block {
        margin-top: 15px;
        margin-left: 15px;
        display: inline-block;
        color: #5A5A5A;

        &__code {
            list-style-type: none;
            padding: 0;
            margin: 10px 0 0 0;
            columns: 2;

            > li {
                margin: 5px 0;

                > span {
                    font-style: italic;
                    background: $colorGrey;
                    display: inline-block;
                    padding: 2px 10px;
                    margin-right: 10px;
                    font-weight: bold;
                }

                &[data-copytoclipboard] > span {
                    cursor: pointer;
                }
            }
        }
    }

    .description-block {
        display: block;
        margin-top: .5rem;
        margin-bottom: 1rem;
        color: #5a5a5a;
    }

    /**
     * Table classes
     */
    .table-title {
        background-color: var(--typo3-component-border-color);
        border-top: 1px solid var(--typo3-component-border-color);
        border-left: 1px solid var(--typo3-component-border-color);
        border-right: 1px solid var(--typo3-component-border-color);
        color: var(--typo3-table-color);
        font-weight: bold;
        padding: 10px;
    }

    .table {
        border: 1px solid var(--typo3-component-border-color);

        .soft {
            color: $colorGreySoft;
        }
    }

    .table.min-height-50 {
        td {
            height: 50px; // height works as min-height for td
        }
    }

    .table-hover > tbody > tr:hover,
    .table-hover > tbody > tr.lux-action-detail {
        background-color: $colorMain;

        > td {
            color: $white;

            .soft {
                color: $colorGreyBright;
            }
        }
    }

    .table-pointer > tbody > tr {
        cursor: pointer;
    }

    .close {
        position: absolute;
        right: 15px;
        top: 15px;
        width: 25px;
        height: 25px;
        opacity: 0.3;
        font-size: 0;
        z-index: 2;
        border: none;
        background: none;
    }

    .close:hover {
        opacity: 1;
    }

    .close:before, .close:after {
        position: absolute;
        top: 0;
        content: ' ';
        height: 25px;
        width: 2px;
        background-color: #333;
    }

    .close:before {
        transform: rotate(45deg);
    }

    .close:after {
        transform: rotate(-45deg);
    }

    .list-group-item > .badge {
        float: right;
        font-size: 11px;
    }

    .table > :not(caption) > * > * {
        background: transparent;
    }
}

.lux-textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid $colorGreyBright;

    &__default {
        color: $colorGreyBright;
    }
}

/**
 * Lux special
 */
.lux-workflow-new {
    background-color: rgba(0, 0, 0, 0.8);
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

.lux-workflow-sidbox {
    opacity: 0.5;
    background: #ddd;
    margin: 34px 0 0 0;
    padding: 20px;
}

.lux_triggerarea,
.lux_actionarea {

    position: relative;

    .lux-trigger,
    .lux-action {
        margin: 80px 0 20px 0;
        padding: 20px;
        border-style: dashed;
        border-color: $colorGrey;
        position: relative;

        &:before {
            content: 'AND';
            display: block;
            width: 10px;
            height: 50px;
            border-left: 3px solid $colorGrey;
            position: absolute;
            left: 50%;
            margin-top: -87px;
            padding: 13px 0 0 18px;
            font-size: 18px;
            color: $colorGrey;
        }

        &:first-child {
            margin-top: 20px;

            &:before {
                display: none;
            }
        }
    }

    .lux-trigger-conjunctionOR:before {
        content: 'OR';
    }

    .lux-trigger-not:after {
        content: '(NOT)';
        width: 10px;
        height: 50px;
        position: absolute;
        font-size: 26px;
        color: $colorGrey;
        right: 115px;
        top: 7px;
        font-weight: bold;
    }
}

.lux-messages {
    padding: 15px 0;
    margin: 1rem 0 2rem 0;
    list-style-type: none;

    > li {
        margin: 5px 30px;
        font-size: 16px;
    }
}

.lux {

    // Make round images from landscape and portrait images
    .img-circle {
        object-fit: cover;
        border-radius: 50%;
        width: 100%;
        height: auto;
        aspect-ratio: 1/1;
    }
}

.lux-group {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    margin: 0;
    padding: 20px 0;
    height: 100%;
    min-height: 320px;
    overflow: hidden;

    > li {
        flex: 0 0 50%;
        padding: 0 5px;
    }
}
