@import "Settings";
@import "Timeline";

.lux-pageoverview-box {
    width: 100%;
    height: 180px;
    background: #eee;
    display: flex;
    margin-bottom: 20px;
    overflow: hidden;

    -moz-transition: all .1s ease-in;
    -o-transition: all .1s ease-in;
    -webkit-transition: all .1s ease-in;
    transition: all .1s ease-in;
}
.lux-pageoverview-box:hover {
    background: $colorMain;
}
.lux-pageoverview-box p {
    margin: 0 0 5px;
}
.lux-pageoverview-box-left {
    flex: 0 0 180px;
}
.lux-pageoverview-box-right {
    position: relative;
    padding: 30px 10px 30px 0;
    flex: 1;
}
.lux-pageoverview-box-right > .badgearea {
    position: absolute;
    top: 20px;
    right: 20px;
}
.lux-pageoverview-box-image {
    object-fit: cover;
    border-radius: 50%;
    width: 130px;
    height: 130px;
    margin: 25px auto;
}
.badge-primary {
    background: $colorMain;
}
.lux-arrow-up {
    content: "";
    width: 0;
    height: 0;
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    border-top: 8px solid $colorGreyDark;
    display: inline-block;
}
.lux-arrow-down {
    content: "";
    width: 0;
    height: 0;
    display: inline-block;
    margin-bottom: 1px;
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    border-bottom: 8px solid $colorGreyDark;
}

.lux {
    .table-title {
        background-color: var(--typo3-component-border-color);
        border-top: 1px solid var(--typo3-component-border-color);
        border-left: 1px solid var(--typo3-component-border-color);
        border-right: 1px solid var(--typo3-component-border-color);
        color: var(--typo3-table-color);
        font-weight: bold;
        padding: 10px;
    }

    .table {
        border: 1px solid var(--typo3-component-border-color);
    }
}

.unitajax {
    position: relative;
    overflow: hidden;
    min-height: 280px;
    background-color: light-dark($colorGrey, $black);
    border: 2px dashed light-dark($colorGreyBright, $colorGreyDark);
    margin-bottom: 1.125rem;
}

.unitajax-spinner {
    display: inline-block;
    border-radius: 50%;
    border: 6px solid rgba(255,255,255,.3);
    border-top-color: $colorMain;
    animation: spin 1s ease-in-out infinite;
    top: 50%;
    left: 50%;
    position: absolute;
    width: 50px;
    height: 50px;
    margin: -25px 0 0 -25px;
}

@keyframes spin {
    to { transform: rotate(360deg); }
}
