<div class="panel panel-default flex">
    <div class="panel-heading">
        <h3 class="panel-title">
            <f:translate key="LLL:EXT:lux/Resources/Private/Language/locallang_db.xlf:module.box.identifiedpermethod.title">Identified by method</f:translate>
        </h3>
    </div>
    <div class="panel-body">
        <f:if condition="{identificationMethods.dataAvailable}">
            <f:then>
                <canvas
                    width="750"
                    height="400"
                    data-chart="doughnut"
                    data-chart-data="{identificationMethods.amountsList}"
                    data-chart-labels="{identificationMethods.titlesList}"></canvas>
            </f:then>
            <f:else>
                <f:render partial="Miscellaneous/NoValues" arguments="{_all}"/>
            </f:else>
        </f:if>
    </div>
</div>
