<div class="panel panel-default flex">
    <div class="panel-heading">
        <h3 class="panel-title">
            <f:translate key="LLL:EXT:lux/Resources/Private/Language/locallang_db.xlf:module.analysis.identifiedpermonth">Identified per month</f:translate>
        </h3>
    </div>
    <div class="panel-body">
        <f:if condition="{numberOfIdentifiedVisitors}">
            <f:then>
                <canvas
                        id="extension-lux-analysis-identified"
                        width="750"
                        height="350"
                        data-chart="line"
                        data-chart-data="{lux:charts.getIdentifiedNumbersPerMonth(logs:identifiedPerMonth)}"
                        data-chart-labels="{lux:charts.getLastMonthNames(months:6)}"></canvas>
            </f:then>
            <f:else>
                <f:translate key="LLL:EXT:lux/Resources/Private/Language/locallang_db.xlf:module.analysis.novalues">No values to show</f:translate>
            </f:else>
        </f:if>
    </div>
</div>
