<div class="panel panel-default flex">
    <div class="panel-heading">
        <h3 class="panel-title">
            <f:translate key="LLL:EXT:lux/Resources/Private/Language/locallang_db.xlf:module.analysis.pagevisits">Pagevisits</f:translate>
        </h3>
    </div>
    <div class="panel-body">
        <f:if condition="{latestPagevisits}">
            <f:then>
                <ol class="list-group">
                    <f:for each="{latestPagevisits}" as="pagevisit">
                        <f:if condition="{pagevisit.page}">
                            <li class="list-group-item">
                                <span class="badge" title="{f:format.date(date:pagevisit.crdate,format:'{f:translate(key:\'LLL:EXT:lux/Resources/Private/Language/locallang_db.xlf:date\')}')}">
                                    <lux:format.readableDate>{pagevisit.crdate}</lux:format.readableDate>
                                </span>
                                Page <strong title="PID{pagevisit.page.uid}: {pagevisit.pageTitleWithLanguage}"><f:format.crop maxCharacters="50" append="..." respectWordBoundaries="0">{pagevisit.pageTitleWithLanguage}</f:format.crop></strong> visited from<br />
                                <span title="UID{pagevisit.visitor.uid}">
                                    <!-- Todo: Can be removed if TYPO3 11 support is dropped -->
                                    <lux:condition.isTypo3Eleven>
                                        <f:then>
                                            <f:be.link
                                                route="lux_LuxLead"
                                                title="{visitor.companyrecord.title}"
                                                parameters="{tx_lux_lux_luxlead:'{visitor:pagevisit.visitor.uid,action:\'detail\',controller:\'Lead\'}'}">
                                                {pagevisit.visitor.fullName}
                                            </f:be.link>
                                        </f:then>
                                        <f:else>
                                            <f:be.link
                                                route="lux_LuxLead.Lead_detail"
                                                title="{visitor.companyrecord.title}"
                                                parameters="{visitor:pagevisit.visitor.uid}">
                                                {pagevisit.visitor.fullName}
                                            </f:be.link>
                                        </f:else>
                                    </lux:condition.isTypo3Eleven>
                                </span>
                                <f:if condition="{pagevisit.visitor.company}">({pagevisit.visitor.company})</f:if>
                            </li>
                        </f:if>
                    </f:for>
                </ol>
            </f:then>
            <f:else>
                <f:render partial="Miscellaneous/NoValues" arguments="{_all}"/>
            </f:else>
        </f:if>
    </div>
</div>
