<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">
            <f:translate key="LLL:EXT:lux/Resources/Private/Language/locallang_db.xlf:module.box.alllinkclicks.title">Absolute clicks on link listeners</f:translate>
        </h3>
    </div>
    <div class="panel-body">
        <f:if condition="{allLinkclickData.dataAvailable}">
            <f:then>
                <canvas height="50"
                        data-chart="line"
                        data-chart-data="{allLinkclickData.amountsList}"
                        data-chart-labels="{allLinkclickData.titlesList}"></canvas>
            </f:then>
            <f:else>
                <f:render partial="Miscellaneous/NoValues" arguments="{_all}"/>
            </f:else>
        </f:if>
    </div>
</div>
