<f:if condition="{downloads}">
    <f:then>
        <lux:pagination.paginate objects="{downloads}" as="downloadsPaginator" itemsPerPage="15">
            <div style="background-color: #dddddd; border-top: 1px solid #cccccc; border-left: 1px solid #cccccc; border-right: 1px solid #cccccc; color: #5a5a5a; font-weight: bold; padding: 10px;">
                <f:translate key="LLL:EXT:lux/Resources/Private/Language/locallang_db.xlf:module.analysis.content.assets">assets</f:translate>
                ({downloads -> f:count()})
            </div>
            <table class="table table-striped table-hover table-pointer">
                <thead>
                <tr>
                    <th>
                        <f:translate key="LLL:EXT:lux/Resources/Private/Language/locallang_db.xlf:module.analysis.content.asset">asset</f:translate>
                    </th>
                    <th>
                        <f:translate key="LLL:EXT:lux/Resources/Private/Language/locallang_db.xlf:module.analysis.content.downloads">downloads</f:translate>
                    </th>
                    <th></th>
                </tr>
                </thead>
                <tbody>
                <f:for each="{downloadsPaginator.paginator.paginatedItems}" as="download">
                    <tr data-lux-action-analysiscontentdetaildownload="{download.0.href}">
                        <td>
                            <span title="{download.0.href}">
                                <lux:format.getFilenameFromPathAndFilename pathAndFilename="{download.0.href}"/>
                            </span>
                        </td>
                        <td><lux:format.readableNumber>{download -> f:count()}</lux:format.readableNumber></td>
                        <td>
                            <f:link.action
                                action="detailDownload"
                                arguments="{href:download.0.href}"
                                class="btn btn-primary pull-right hidden"
                                data="{lux-linkmock-link:'detaildownload{download.0.uid}'}">Details</f:link.action>
                        </td>
                    </tr>
                </f:for>
                </tbody>
            </table>

            <f:alias map="{pagination:downloadsPaginator.pagination, paginator:downloadsPaginator.paginator, name:downloadsPaginator.name}">
                <f:render partial="Miscellaneous/Pagination" arguments="{_all}" />
            </f:alias>
        </lux:pagination.paginate>
    </f:then>
    <f:else>
        <f:render partial="Miscellaneous/NoValues" arguments="{_all}"/>
    </f:else>
</f:if>
