<div class="panel panel-default flex">
    <div class="panel-heading">
        <h3 class="panel-title">
            <f:translate key="LLL:EXT:lux/Resources/Private/Language/locallang_db.xlf:module.box.language.title">Languages</f:translate>
        </h3>
    </div>
    <div class="panel-body">
        <f:if condition="{languageData.dataAvailable}">
            <f:then>
                <canvas width="750"
                        data-chart="bar"
                        data-chart-data="{languageData.amountslist}"
                        data-chart-labels="{languageData.titlesList}"></canvas>
            </f:then>
            <f:else>
                <f:render partial="Miscellaneous/NoValues" arguments="{_all}"/>
            </f:else>
        </f:if>
    </div>
</div>
