<f:if condition="{news}">
    <f:then>
        <f:widget.paginate
            objects="{news}"
            as="newsItem"
            configuration="{itemsPerPage:30,insertAbove:0,insertBelow:'{f:if(condition: \'{news -> f:count()} > 30\',then:1)}',maximumNumberOfLinks:10}">
            <table class="table table-striped table-hover table-pointer">
                <thead>
                <tr>
                    <th>#</th>
                    <th style="width:50%">
                        News
                    </th>
                    <th>
                        <f:translate key="LLL:EXT:lux/Resources/Private/Language/locallang_db.xlf:module.analysis.news.categories">categories</f:translate>
                    </th>
                    <th>
                        <f:translate key="LLL:EXT:lux/Resources/Private/Language/locallang_db.xlf:module.analysis.news.created">created</f:translate>
                    </th>
                    <th>
                        <f:translate key="LLL:EXT:lux/Resources/Private/Language/locallang_db.xlf:module.analysis.news.author">author</f:translate>
                    </th>
                    <th>
                        <f:translate key="LLL:EXT:lux/Resources/Private/Language/locallang_db.xlf:module.analysis.news.visits">visits</f:translate>
                    </th>
                </tr>
                </thead>
                <tbody>
                <f:for each="{newsItem}" as="item" iteration="iteration">
                    <tr data-lux-action-analysisnewsdetailpage="{item.news.uid}">
                        <td>
                            <span title="UID{item.news.uid}/PID{item.news.pid}">
                                {iteration.cycle}.
                            </span>
                        </td>
                        <td>
                            <span title="{item.news.title}">
                                <f:format.crop maxCharacters="75" append="..." respectWordBoundaries="0">{item.news.title}</f:format.crop>
                            </span>
                        </td>
                        <td>
                            <f:for each="{item.news.categories}" as="category" iteration="iteration">
                                {category.title}<f:if condition="!{iteration.isLast}">,</f:if>
                            </f:for>
                        </td>
                        <td>
                            <span class="badge" title="{f:format.date(date:item.news.crdate,format:'{f:translate(key:\'LLL:EXT:lux/Resources/Private/Language/locallang_db.xlf:date\')}')}">
                                <lux:format.readableDate>{item.news.crdate}</lux:format.readableDate>
                            </span>
                        </td>
                        <td>
                            {item.news.cruserId.username}
                            <f:if condition="{item.news.cruserId.name}">({item.news.cruserId.username})</f:if>
                        </td>
                        <td>
                            {item.count}
                            <f:link.action action="detailNews" arguments="{news:item.news}" class="btn btn-primary pull-right hidden" data="{lux-linkmock-link:'detailnews{item.news.uid}'}">Details</f:link.action>
                        </td>
                    </tr>
                </f:for>
                </tbody>
            </table>
        </f:widget.paginate>
    </f:then>
    <f:else>
        <f:render partial="Miscellaneous/NoValues" arguments="{_all}"/>
    </f:else>
</f:if>
