<f:if condition="{pages}">
    <f:then>
        <lux:pagination.paginate objects="{pages}" as="pagesPaginator" itemsPerPage="15">
            <div class="table-title">
                <f:translate key="LLL:EXT:lux/Resources/Private/Language/locallang_db.xlf:module.analysis.content.pages">Page visits</f:translate>
                ({pages -> f:count()})
            </div>
            <table class="table table-striped table-hover table-pointer">
                <thead>
                <tr>
                    <th>
                        <f:translate key="LLL:EXT:lux/Resources/Private/Language/locallang_db.xlf:module.analysis.content.page">page</f:translate>
                    </th>
                    <th>
                        <f:translate key="LLL:EXT:lux/Resources/Private/Language/locallang_db.xlf:module.analysis.content.visits">visits</f:translate>
                    </th>
                </tr>
                </thead>
                <tbody>
                <f:for each="{pagesPaginator.paginator.paginatedItems}" as="page">
                    <tr data-lux-action-analysiscontentdetailpage="{page.page.uid}">
                        <td>
                            <span title="UID{page.page.uid}">{page.page.title}</span>
                        </td>
                        <td>
                            <lux:format.readableNumber>{page.count}</lux:format.readableNumber>
                            <f:link.action
                                action="detailPage"
                                arguments="{page:page.page.uid}"
                                class="btn btn-primary pull-right hidden"
                                data="{lux-linkmock-link:'detailpage{page.page.uid}'}">Details</f:link.action>
                        </td>
                    </tr>
                </f:for>
                </tbody>
            </table>

            <f:alias map="{pagination:pagesPaginator.pagination, paginator:pagesPaginator.paginator, name:pagesPaginator.name}">
                <f:render partial="Miscellaneous/Pagination" arguments="{_all}" />
            </f:alias>
        </lux:pagination.paginate>
    </f:then>
    <f:else>
        <f:render partial="Miscellaneous/NoValues" arguments="{_all}"/>
    </f:else>
</f:if>
