<div class="panel panel-default flex">
    <div class="panel-heading">
        <h3 class="panel-title">
            <f:translate key="LLL:EXT:lux/Resources/Private/Language/locallang_db.xlf:module.list.pagevisits">
                Page visits
            </f:translate>
        </h3>
    </div>
    <div class="panel-body">
        <f:if condition="{numberOfVisitorsByDay}">
            <f:then>
                <div>
                    <canvas id="extension-lux-list-pagevisits"
                            width="750"
                            height="250"
                            data-chart="line"
                            data-chart-data="{lux:format.implode(array:numberOfVisitorsByDay)}"
                            data-chart-label="{f:translate(key:'LLL:EXT:lux/Resources/Private/Language/locallang_db.xlf:module.list.pagevisits.label')}"
                            data-chart-labels="{lux:charts.getLastDayNames()}"></canvas>
                </div>
            </f:then>
            <f:else>
                <f:translate key="LLL:EXT:lux/Resources/Private/Language/locallang_db.xlf:module.analysis.novalues">No values to show</f:translate>
            </f:else>
        </f:if>
    </div>
</div>
