<f:if condition="{search}">
    <f:then>
        <lux:pagination.paginate objects="{search}" as="searchPaginator" itemsPerPage="30">
            <div class="table-title">
                <f:translate key="LLL:EXT:lux/Resources/Private/Language/locallang_db.xlf:module.list.search.queries">queries</f:translate>
                ({search -> f:count()})
            </div>
            <table class="table table-striped table-hover table-pointer">
                <thead>
                <tr>
                    <th>
                        <f:translate key="LLL:EXT:lux/Resources/Private/Language/locallang_db.xlf:module.list.search.term">Searchterm</f:translate>
                    </th>
                    <th>
                        <f:translate key="LLL:EXT:lux/Resources/Private/Language/locallang_db.xlf:module.list.search.amount">Amount</f:translate>
                    </th>
                </tr>
                </thead>
                <tbody>
                <f:for each="{searchPaginator.paginator.paginatedItems}" as="searchItem">
                    <tr data-lux-action-analysissearchdetailpage="{searchItem.searchterm -> f:format.urlencode()}">
                        <td>
                            <span>{searchItem.searchterm}</span>
                        </td>
                        <td>
                            <lux:format.readableNumber>{searchItem.count}</lux:format.readableNumber>
                            <f:link.action
                                action="detailSearch"
                                arguments="{searchterm:searchItem.searchterm}"
                                class="btn btn-primary pull-right hidden"
                                data="{lux-linkmock-link:'detailsearch{searchItem.searchterm -> f:format.urlencode()}'}">Details</f:link.action>
                        </td>
                    </tr>
                </f:for>
                </tbody>
            </table>

            <f:alias map="{pagination:searchPaginator.pagination, paginator:searchPaginator.paginator, name:searchPaginator.name}">
                <f:render partial="Miscellaneous/Pagination" arguments="{_all}" />
            </f:alias>
        </lux:pagination.paginate>
    </f:then>
    <f:else>
        <f:render partial="Miscellaneous/NoValues" arguments="{_all}"/>
    </f:else>
</f:if>
