<f:if condition="{search}">
    <f:then>
        <f:widget.paginate
            objects="{search}"
            as="searchPage"
            configuration="{itemsPerPage:30,insertAbove:0,insertBelow:'{f:if(condition: \'{search -> f:count()} > 30\',then:1)}',maximumNumberOfLinks:10}">
            <table class="table table-striped table-hover table-pointer">
                <thead>
                <tr>
                    <th>
                        <f:translate key="LLL:EXT:lux/Resources/Private/Language/locallang_db.xlf:module.list.search.term">Searchterm</f:translate>
                    </th>
                    <th>
                        <f:translate key="LLL:EXT:lux/Resources/Private/Language/locallang_db.xlf:module.list.search.amount">Amount</f:translate>
                    </th>
                </tr>
                </thead>
                <tbody>
                <f:for each="{searchPage}" as="searchItem">
                    <tr data-lux-action-analysissearchdetailpage="{searchItem.searchterm -> f:format.urlencode()}">
                        <td>
                            <span>{searchItem.searchterm}</span>
                        </td>
                        <td>
                            {searchItem.count}
                            <f:link.action action="detailSearch" arguments="{searchterm:searchItem.searchterm}" class="btn btn-primary pull-right hidden" data="{lux-linkmock-link:'detailsearch{searchItem.searchterm -> f:format.urlencode()}'}">Details</f:link.action>
                        </td>
                    </tr>
                </f:for>
                </tbody>
            </table>
        </f:widget.paginate>
    </f:then>
    <f:else>
        <f:render partial="Miscellaneous/NoValues" arguments="{_all}"/>
    </f:else>
</f:if>
