<div class="panel panel-default flex">
    <div class="panel-heading">
        <h3 class="panel-title">
            <f:translate key="LLL:EXT:lux/Resources/Private/Language/locallang_db.xlf:module.box.socialmedia.title">Top Social Media Sources</f:translate>
        </h3>
    </div>
    <div class="panel-body">
        <f:if condition="{socialMediaData.dataAvailable}">
            <f:then>
                <div>
                    <canvas data-chart="doughnut"
                            data-chart-data="{socialMediaData.amountslist}"
                            data-chart-labels="{socialMediaData.titleslist}"></canvas>
                </div>
            </f:then>
            <f:else>
                <f:render partial="Miscellaneous/NoValues" arguments="{_all}"/>
            </f:else>
        </f:if>
    </div>
</div>
