<div class="panel panel-default flex">
    <div class="panel-heading">
        <h3 class="panel-title">
            <f:translate key="LLL:EXT:lux/Resources/Private/Language/locallang_db.xlf:module.box.toppages.title">
                visits
            </f:translate>
        </h3>
    </div>
    <div class="panel-body" style="overflow: hidden;">
        <f:if condition="{pages}">
            <f:then>
                <table class="table table-striped">
                    <f:for each="{pages}" as="page" iteration="iteration">
                        <f:if condition="{iteration.cycle} < 11">
                            <tr>
                                <td>
                                    <f:for each="{page}" as="pageItem" iteration="iteration">
                                        <f:if condition="{iteration.isFirst}">
                                            <f:alias map="{title:'{lux:page.getPropertyFromPageIdentifier(pageIdentifier:pageItem.page)}'}">
                                                <span data-page-identifier="UID{pageItem.page}" title="{title}">
                                                    <f:format.crop maxCharacters="25" append="..." respectWordBoundaries="0">{title}</f:format.crop>
                                                </span>
                                            </f:alias>
                                        </f:if>
                                    </f:for>
                                </td>
                                <td>{page -> f:count()}</td>
                            </tr>
                        </f:if>
                    </f:for>
                </table>
            </f:then>
            <f:else>
                <f:render partial="Miscellaneous/NoValues" arguments="{_all}"/>
            </f:else>
        </f:if>
    </div>
</div>
