<f:if condition="{utmList}">
    <f:then>
        <lux:pagination.paginate objects="{utmList}" as="utmListPaginator" itemsPerPage="30">
            <div class="table-title">
                Leads ({utmList -> f:count()})
            </div>
            <table class="table table-striped table-hover table-pointer">
                <thead>
                <tr>
                    <th style="width: 40px;">#</th>
                    <th>
                        <f:translate key="LLL:EXT:lux/Resources/Private/Language/locallang_db.xlf:dictionary.leads">Leads</f:translate>
                    </th>
                    <th>
                        <f:translate key="LLL:EXT:lux/Resources/Private/Language/locallang_db.xlf:dictionary.time">Time</f:translate>
                    </th>
                    <th title="&utm_campaign=">
                        <f:translate key="LLL:EXT:lux/Resources/Private/Language/locallang_db.xlf:dictionary.campaign">Campaign</f:translate>
                    </th>
                    <th title="&utm_source=">
                        <f:translate key="LLL:EXT:lux/Resources/Private/Language/locallang_db.xlf:dictionary.source">Source</f:translate>
                    </th>
                    <th title="&utm_medium=">
                        <f:translate key="LLL:EXT:lux/Resources/Private/Language/locallang_db.xlf:dictionary.medium">Medium</f:translate>
                    </th>
                    <th title="&utm_id=">
                        <f:translate key="LLL:EXT:lux/Resources/Private/Language/locallang_db.xlf:dictionary.id">ID</f:translate>
                    </th>
                    <th title="&utm_term=">
                        <f:translate key="LLL:EXT:lux/Resources/Private/Language/locallang_db.xlf:dictionary.term">Term</f:translate>
                    </th>
                    <th title="&utm_content=">
                        <f:translate key="LLL:EXT:lux/Resources/Private/Language/locallang_db.xlf:dictionary.content">Content</f:translate>
                    </th>
                    <th title="&utm_content=">
                        <f:translate key="LLL:EXT:lux/Resources/Private/Language/locallang_db.xlf:dictionary.referrer">Referrer</f:translate>
                    </th>
                </tr>
                </thead>
                <tbody>
                <f:for each="{utmListPaginator.paginator.paginatedItems}" as="utm" iteration="iteration">
                    <tr data-lux-action-analysisutmdetailpage="{utm.visitor.uid}">
                        <td>
                            <span>
                                {iteration.cycle}.
                            </span>
                        </td>
                        <td>
                            <span>{utm.visitor.fullName}</span>
                            <f:if condition="{utm.visitor.company}">
                                <br/>
                                {utm.visitor.company}
                            </f:if>
                        </td>
                        <td>
                            <span class="badge" title="{f:format.date(date:utm.crdate,format:'{f:translate(key:\'LLL:EXT:lux/Resources/Private/Language/locallang_db.xlf:date\')}')}">
                                <lux:format.readableDate>{utm.crdate}</lux:format.readableDate>
                            </span>
                        </td>
                        <td>
                            <span>{utm.utmCampaign}</span>
                        </td>
                        <td>
                            <span>{utm.utmSource}</span>
                        </td>
                        <td>
                            <span>{utm.utmMedium}</span>
                        </td>
                        <td>
                            <span>{utm.utmId}</span>
                        </td>
                        <td>
                            <span>{utm.utmTerm}</span>
                        </td>
                        <td>
                            <span>{utm.utmContent}</span>
                        </td>
                        <td>
                            <span title="{utm.referrer}">{utm.readableReferrer}</span>

                            <f:comment>
                                Invisible link for JS-clicks in preview only
                            </f:comment>
                            <f:link.action
                                action="detail"
                                controller="Lead"
                                class="btn btn-primary pull-right hidden"
                                arguments="{visitor:utm.visitor}"
                                data="{lux-linkmock-link:'detail{utm.visitor.uid}'}">
                                <f:translate key="LLL:EXT:lux/Resources/Private/Language/locallang_db.xlf:module.detail.linkdetail">show</f:translate>
                            </f:link.action>
                        </td>
                    </tr>
                </f:for>
                </tbody>
            </table>

            <f:alias map="{pagination:utmListPaginator.pagination, paginator:utmListPaginator.paginator, name:utmListPaginator.name}">
                <f:render partial="Miscellaneous/Pagination" arguments="{_all}" />
            </f:alias>
        </lux:pagination.paginate>
    </f:then>
    <f:else>
        <f:render partial="Miscellaneous/NoValues" arguments="{_all}"/>
    </f:else>
</f:if>
