<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">
            <f:translate key="LLL:EXT:lux/Resources/Private/Language/locallang_db.xlf:dictionary.medium">Medium</f:translate>
            <f:if condition="{headerPostfix}">{headerPostfix}</f:if>
        </h3>
    </div>
    <div class="panel-body">
        <f:if condition="{utmMediaData.dataAvailable}">
            <f:then>
                <div>
                    <canvas data-chart="doughnut"
                            data-chart-data="{utmMediaData.amountsList}"
                            data-chart-labels="{utmMediaData.titlesList}"></canvas>
                </div>
            </f:then>
            <f:else>
                <f:render partial="Miscellaneous/NoValues" arguments="{_all}"/>
            </f:else>
        </f:if>
    </div>
</div>
