<div class="panel panel-default">
	<div class="panel-heading">
		<h3 class="panel-title">
			<f:translate key="LLL:EXT:lux/Resources/Private/Language/locallang_db.xlf:tx_lux_domain_model_visitor.categoryscorings">CategoryScoring</f:translate>
		</h3>
	</div>
	<div class="panel-body">
		<f:if condition="{visitor.categoryscorings}">
			<f:then>
				<canvas width="750"
						height="250"
						data-chart="bar"
						data-chart-data="{lux:visitor.getCategoryScoringListFromVisitor(visitor:visitor)}"
						data-chart-labels="{lux:visitor.getCategoryScoringListFromVisitor(visitor:visitor,property:'title')}"></canvas>
			</f:then>
			<f:else>
				<div class="alert alert-lux">
					<div class="header-container">
						<p class="message-body">
                            <f:render partial="Miscellaneous/NoValues" arguments="{_all}"/>
						</p>
					</div>
				</div>
			</f:else>
		</f:if>
	</div>
</div>
