<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">
            <a class="collapse-arrow collapsed nolink" data-toggle="collapse" href="#profile" role="button"
               aria-expanded="false" aria-controls="profile">
                <f:translate
                    key="LLL:EXT:lux/Resources/Private/Language/locallang_db.xlf:module.analysis.detailpage.profiles">
                    Profiles
                </f:translate>
            </a>
            <span class="badge" style="float: right;" title="Number of profiles"><f:count>{visitor.fingerprints}</f:count></span>
        </h3>
    </div>
    <div class="panel-body">
        <div class="collapse" id="profile">
            <f:if condition="{visitor.fingerprints}">
                <f:then>
                    <table class="table table-striped">
                        <thead>
                        <tr>
                            <td>
                                <f:translate
                                    key="LLL:EXT:lux/Resources/Private/Language/locallang_db.xlf:module.analysis.detailpage.profiles.domain">
                                    Domain
                                </f:translate>
                            </td>
                            <td>
                                <f:translate
                                    key="LLL:EXT:lux/Resources/Private/Language/locallang_db.xlf:module.analysis.detailpage.profiles.browser">
                                    Browser
                                </f:translate>
                            </td>
                            <td>
                                <f:translate
                                    key="LLL:EXT:lux/Resources/Private/Language/locallang_db.xlf:module.analysis.detailpage.profiles.os">
                                    OS
                                </f:translate>
                            </td>
                            <td>
                                <f:translate
                                    key="LLL:EXT:lux/Resources/Private/Language/locallang_db.xlf:module.analysis.detailpage.profiles.device">
                                    Device
                                </f:translate>
                            </td>
                            <td>
                                <f:translate
                                    key="LLL:EXT:lux/Resources/Private/Language/locallang_db.xlf:module.analysis.detailpage.profiles.type">
                                    Type
                                </f:translate>
                            </td>
                            <td>
                                <f:translate
                                    key="LLL:EXT:lux/Resources/Private/Language/locallang_db.xlf:module.analysis.detailpage.profiles.value">
                                    Value
                                </f:translate>
                            </td>
                        </tr>
                        </thead>
                        <f:for each="{visitor.fingerprintsSorted}" as="fingerprint">
                            <tr data-fingerprint-uid="{fingerprint.uid}">
                                <td>{fingerprint.domain}</td>
                                <td title="{fingerprint.userAgent}">{fingerprint.propertiesFromUserAgent.browser}
                                    {fingerprint.propertiesFromUserAgent.browserversion}
                                </td>
                                <td title="{fingerprint.userAgent}">{fingerprint.propertiesFromUserAgent.os}
                                    {fingerprint.propertiesFromUserAgent.osversion}
                                </td>
                                <td title="{fingerprint.userAgent}">{fingerprint.propertiesFromUserAgent.manufacturer}
                                    {fingerprint.propertiesFromUserAgent.type}
                                </td>
                                <td>{fingerprint.typeString}</td>
                                <td><span title="UID{fingerprint.uid}">{fingerprint.value}</span></td>
                            </tr>
                        </f:for>
                    </table>
                </f:then>
                <f:else>
                    <f:render partial="Miscellaneous/NoValues" arguments="{_all}"/>
                </f:else>
            </f:if>
        </div>
    </div>
</div>
