<div class="panel panel-default">
	<div class="panel-heading">
		<h3 class="panel-title">
			<f:translate key="LLL:EXT:lux/Resources/Private/Language/locallang_db.xlf:module.detail.scoring">Scoring</f:translate>
		</h3>
	</div>
	<div class="panel-body">
		<canvas data-lux-container="detailchart"
				width="750"
				height="250"
				data-chart="line"
				data-chart-data="{lux:charts.getScoringOfTheLastWeeksToAVisitor(visitor:visitor)}"
				data-chart-label="Scoring"
				data-chart-labels="{lux:charts.getLastWeekNames()}"></canvas>
	</div>
</div>
