<f:layout name="Backend"/>

<f:section name="content">
    <f:render partial="Filter/Analysis/Dashboard" arguments="{_all}"/>

    <div class="row flex">
        <div class="col-md-8 flex">
            <div class="row flex">
                <div class="col-md-6 flex">
                    <div data-lux-unitajax="AnalysisDashboardPagevisits" class="unitajax">
                        <div class="unitajax-spinner"></div>
                    </div>
                </div>
                <div class="col-md-6 flex">
                    <div data-lux-unitajax="AnalysisDashboardDownloads" class="unitajax">
                        <div class="unitajax-spinner"></div>
                    </div>
                </div>
            </div>
            <div class="row flex">
                <div class="col-md-6 flex">
                    <div data-lux-unitajax="AnalysisDashboardPagevisitsleads" class="unitajax">
                        <div class="unitajax-spinner"></div>
                    </div>
                </div>
                <div class="col-md-6 flex">
                    <div data-lux-unitajax="AnalysisDashboardBrowser" class="unitajax">
                        <div class="unitajax-spinner"></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4 flex">
            <f:render partial="Box/Miscellaneous/Log" arguments="{_all}"/>
        </div>
    </div>

    <div class="row flex">
        <div class="col-md-8 flex">
            <div class="row flex">
                <div class="col-md-3 flex">
                    <div data-lux-unitajax="AnalysisDashboardTopPages" class="unitajax">
                        <div class="unitajax-spinner"></div>
                    </div>
                </div>
                <div class="col-md-3 flex">
                    <div data-lux-unitajax="AnalysisDashboardTopDownloads" class="unitajax">
                        <div class="unitajax-spinner"></div>
                    </div>
                </div>
                <div class="col-md-3 flex">
                    <div data-lux-unitajax="AnalysisDashboardTopNews" class="unitajax">
                        <div class="unitajax-spinner"></div>
                    </div>
                </div>
                <div class="col-md-3 flex">
                    <div data-lux-unitajax="AnalysisDashboardTopSearch" class="unitajax">
                        <div class="unitajax-spinner"></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4 flex">
            <div data-lux-dhajax="AnalysisDashboardSocialmedia" class="unitajax">
                <div class="unitajax-spinner"></div>
            </div>
        </div>
    </div>
</f:section>
