<f:layout name="Backend"/>

<f:section name="content">
    <div class="row flex">
        <div class="col-md-8 flex">
            <div class="row flex">
                <div class="col-md-6 flex">
                    <f:render partial="Box/Analysis/Pagevisits" arguments="{_all}"/>
                </div>
                <div class="col-md-6 flex">
                    <f:render partial="Box/Analysis/Downloads" arguments="{_all}"/>
                </div>
            </div>
            <div class="row flex">
                <div class="col-md-6 flex">
                    <f:render partial="Box/Leads/Pagevisits" arguments="{_all}"/>
                </div>
                <div class="col-md-6 flex">
                    <f:render partial="Box/Analysis/Linkclicks" arguments="{_all}"/>
                </div>
            </div>
        </div>
        <div class="col-md-4 flex">
            <f:render partial="Box/Miscellaneous/Log" arguments="{_all}"/>
        </div>
    </div>

    <div class="row flex">
        <div class="col-md-4 flex">
            <f:render partial="Box/Analysis/TopPages" arguments="{_all}"/>
        </div>
        <div class="col-md-4 flex">
            <f:render partial="Box/Analysis/TopDownloads" arguments="{_all}"/>
        </div>
        <div class="col-md-4 flex">
            <f:render partial="Box/Analysis/TopNews" arguments="{_all}"/>
        </div>
    </div>

    <div class="row flex">
        <div class="col-md-4 flex">
            <f:render partial="Box/Analysis/Language" arguments="{_all}"/>
        </div>
        <div class="col-md-4 flex">
            <f:render partial="Box/Analysis/Domain" arguments="{_all}"/>
        </div>
        <div class="col-md-4 flex">
            <f:render partial="Box/Analysis/Browser" arguments="{_all}"/>
        </div>
    </div>
</f:section>
