<f:layout name="Backend"/>

<f:section name="content">
	<div class="row">
		<div class="col-md-12">
			<f:alias map="{action:'dashboard'}">
				<f:render partial="Analysis/Filter" arguments="{_all}"/>
			</f:alias>
		</div>
	</div>

	<div class="row flex">
		<div class="col-md-8 flex">
			<div class="row flex">
				<div class="col-md-6 flex">
					<f:render partial="Box/Leads/Recurring" arguments="{_all}"/>
				</div>
				<div class="col-md-6 flex">
					<f:render partial="Box/Leads/Pagevisits" arguments="{_all}"/>
				</div>
			</div>
			<div class="row flex">
				<div class="col-md-6 flex">
					<f:render partial="Box/Leads/Identified" arguments="{_all}"/>
				</div>
				<div class="col-md-6 flex">
					<f:render partial="Box/Leads/IdentifiedPerMonth" arguments="{_all}"/>
				</div>
			</div>
		</div>
		<div class="col-md-4 flex">
			<f:render partial="Box/Miscellaneous/Log" arguments="{_all}"/>
		</div>
	</div>
	<div class="row flex">
		<div class="col-md-3 flex">
			<f:render partial="Box/Leads/HottestLeads" arguments="{_all}"/>
		</div>
		<div class="col-md-6 flex">
			<f:render partial="Box/Leads/Map" arguments="{_all}"/>
		</div>
		<div class="col-md-3 flex">
			<f:render partial="Box/Miscellaneous/LuxStatistics" arguments="{_all}"/>
		</div>
	</div>
</f:section>
