<f:layout name="Backend"/>

<f:section name="content">
    <div class="row">
        <div class="col-md-8">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">
                        <f:translate key="LLL:EXT:lux/Resources/Private/Language/locallang_db.xlf:module.analysis.detailpage">pagevisits</f:translate>
                    </h3>
                </div>
                <div class="panel-body">

                    <f:if condition="{pagevisits}">
                        <lux:pagination.paginate objects="{pagevisits}" as="pagevisitsPaginator" itemsPerPage="25">
                            <table class="table table-striped">
                                <thead>
                                <tr>
                                    <th><f:translate key="LLL:EXT:lux/Resources/Private/Language/locallang_db.xlf:module.analysis.detailpage.title">Title</f:translate></th>
                                    <th><f:translate key="LLL:EXT:lux/Resources/Private/Language/locallang_db.xlf:module.analysis.detailpage.lead">Lead</f:translate></th>
                                    <th>Scoring</th>
                                    <th><f:translate key="LLL:EXT:lux/Resources/Private/Language/locallang_db.xlf:module.analysis.detailpage.company">Company</f:translate></th>
                                    <th><f:translate key="LLL:EXT:lux/Resources/Private/Language/locallang_db.xlf:module.detail.location">Location</f:translate></th>
                                    <th>Fingerprint</th>
                                    <th><f:translate key="LLL:EXT:lux/Resources/Private/Language/locallang_db.xlf:module.analysis.detailpage.time">Time</f:translate></th>
                                </tr>
                                </thead>
                                <tbody>
                                <f:for each="{pagevisitsPaginator.paginator.paginatedItems}" as="pagevisit">
                                    <tr data-identifier-pagevisit="{pagevisit.uid}">
                                        <td><span title="{pagevisit.pageTitleWithLanguage}"><f:format.crop maxCharacters="50" append=" ...">{pagevisit.pageTitleWithLanguage}</f:format.crop></span></td>
                                        <td>
                                            <f:link.action action="detail" controller="Lead" arguments="{visitor:pagevisit.visitor}" title="UID{pagevisit.visitor.uid}">{pagevisit.visitor.fullName}</f:link.action>
                                        </td>
                                        <td>
                                            <span class="badge" title="{f:translate(key:'LLL:EXT:lux/Resources/Private/Language/locallang_db.xlf:tx_lux_domain_model_visitor.scoring')}">{pagevisit.visitor.scoring}</span>
                                            <f:if condition="{pagevisit.visitor.hottestCategoryscoring}">
                                                <span class="badge badge-primary" title="{pagevisit.visitor.hottestCategoryscoring.category.title}">{pagevisit.visitor.hottestCategoryscoring.scoring}</span>
                                            </f:if>
                                        </td>
                                        <td>{pagevisit.visitor.company}</td>
                                        <td>{pagevisit.visitor.location}</td>
                                        <td>
                                            {pagevisit.visitor.latestFingerprint.value}
                                        </td>
                                        <td>
                                            <span class="badge" title="{f:format.date(date:pagevisit.crdate,format:'{f:translate(key:\'LLL:EXT:lux/Resources/Private/Language/locallang_db.xlf:date\')}')}">
                                                <lux:format.readableDate>{pagevisit.crdate}</lux:format.readableDate>
                                            </span>
                                        </td>
                                    </tr>
                                </f:for>
                                </tbody>
                            </table>

                            <f:alias map="{pagination:pagevisitsPaginator.pagination, paginator:pagevisitsPaginator.paginator, name:pagevisitsPaginator.name}">
                                <f:render partial="Miscellaneous/Pagination" arguments="{_all}" />
                            </f:alias>
                        </lux:pagination.paginate>
                    </f:if>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <f:alias map="{type:'pagevisit'}">
                <f:render partial="Box/Miscellaneous/FilterInformation" arguments="{_all}"/>
            </f:alias>
            <f:alias map="{headerPostfix: pagevisits.0.page.title}">
                <f:render partial="Box/Analysis/Pagevisits" arguments="{_all}"/>
            </f:alias>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <f:link.action class="btn btn-primary" action="content"><f:translate key="LLL:EXT:lux/Resources/Private/Language/locallang_db.xlf:back">go back</f:translate></f:link.action>
        </div>
    </div>
</f:section>
