<f:layout name="Backend"/>

<f:section name="content">
    <div class="row">
        <div class="col-md-8">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">
                        <f:translate key="LLL:EXT:lux/Resources/Private/Language/locallang_db.xlf:module.list.search">Searchterms</f:translate>
                    </h3>
                </div>
                <div class="panel-body">

                    <f:if condition="{searches}">
                        <f:widget.paginate
                            objects="{searches}"
                            as="searchesPage"
                            configuration="{itemsPerPage:25,insertAbove:0,insertBelow:'{f:if(condition: \'{searches -> f:count()} > 25\',then:1)}',maximumNumberOfLinks:10}">
                            <table class="table table-striped">
                                <thead>
                                <tr>
                                    <th><f:translate key="LLL:EXT:lux/Resources/Private/Language/locallang_db.xlf:module.list.search.term">Searchterm</f:translate></th>
                                    <th><f:translate key="LLL:EXT:lux/Resources/Private/Language/locallang_db.xlf:module.analysis.detailpage.lead">Lead</f:translate></th>
                                    <th>Scoring</th>
                                    <th><f:translate key="LLL:EXT:lux/Resources/Private/Language/locallang_db.xlf:module.analysis.detailpage.company">Company</f:translate></th>
                                    <th><f:translate key="LLL:EXT:lux/Resources/Private/Language/locallang_db.xlf:module.detail.location">Location</f:translate></th>
                                    <th>Fingerprint</th>
                                    <th><f:translate key="LLL:EXT:lux/Resources/Private/Language/locallang_db.xlf:module.analysis.detailpage.time">Time</f:translate></th>
                                </tr>
                                </thead>
                                <tbody>
                                <f:for each="{searchesPage}" as="search">
                                    <tr data-identifier-search="{search.uid}">
                                        <td><span title="{search.searchterm}"><f:format.crop maxCharacters="50" append=" ...">{search.searchterm}</f:format.crop></span></td>
                                        <td>
                                            <f:link.action action="detail" controller="Lead" arguments="{visitor:search.visitor}" title="UID{search.visitor.uid}">{search.visitor.fullName}</f:link.action>
                                        </td>
                                        <td>
                                            <span class="badge" title="{f:translate(key:'LLL:EXT:lux/Resources/Private/Language/locallang_db.xlf:tx_lux_domain_model_visitor.scoring')}">{search.visitor.scoring}</span>
                                            <f:if condition="{search.visitor.hottestCategoryscoring}">
                                                <span class="badge badge-primary" title="{search.visitor.hottestCategoryscoring.category.title}">{search.visitor.hottestCategoryscoring.scoring}</span>
                                            </f:if>
                                        </td>
                                        <td>{search.visitor.company}</td>
                                        <td>{search.visitor.location}</td>
                                        <td>
                                            {search.visitor.latestFingerprint.value}
                                        </td>
                                        <td>
                                            <span class="badge" title="{f:format.date(date:search.crdate,format:'{f:translate(key:\'LLL:EXT:lux/Resources/Private/Language/locallang_db.xlf:date\')}')}">
                                                <lux:format.readableDate>{search.crdate}</lux:format.readableDate>
                                            </span>
                                        </td>
                                    </tr>
                                </f:for>
                                </tbody>
                            </table>
                        </f:widget.paginate>
                    </f:if>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <f:alias map="{headerPostfix:searchterm}">
                <f:render partial="Box/Analysis/Search" arguments="{_all}"/>
            </f:alias>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <f:link.action class="btn btn-primary" action="search"><f:translate key="LLL:EXT:lux/Resources/Private/Language/locallang_db.xlf:back">go back</f:translate></f:link.action>
        </div>
    </div>
</f:section>
