<f:layout name="Backend" />

<f:section name="content">
	<div class="row flex">
		<div class="col-md-6 flex">
			<f:render partial="Box/Leads/Map" arguments="{_all}"/>
		</div>
		<div class="col-md-6 flex">
			<f:render partial="Box/Miscellaneous/LuxStatistics" arguments="{_all}"/>
		</div>
	</div>

	<p>
		Lux the TYPO3 Marketing Automation and Luxletter the TYPO3 Email Marketing is provided by<br>
		<a href="https://www.in2code.de" target="_blank" rel="noopener">in2code.de - Wir leben TYPO3</a>
	</p>
</f:section>
