<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">
            <f:translate key="LLL:EXT:lux/Resources/Private/Language/locallang_db.xlf:module.analysis.detaillinklistener">clicks on Link Listener</f:translate>
        </h3>
    </div>
    <div class="panel-body">

        <f:if condition="{linkListener.linkclicks}">
            <f:then>
                <table class="table table-striped">
                    <thead>
                    <tr>
                        <th><f:translate key="LLL:EXT:lux/Resources/Private/Language/locallang_db.xlf:module.analysis.detaillinklistener.title">Title</f:translate></th>
                        <th><f:translate key="LLL:EXT:lux/Resources/Private/Language/locallang_db.xlf:module.analysis.detaillinklistener.lead">Lead</f:translate></th>
                        <th><f:translate key="LLL:EXT:lux/Resources/Private/Language/locallang_db.xlf:module.analysis.detaillinklistener.company">Company</f:translate></th>
                        <th><f:translate key="LLL:EXT:lux/Resources/Private/Language/locallang_db.xlf:module.analysis.detaillinklistener.time">Time</f:translate></th>
                    </tr>
                    </thead>
                    <tbody>
                    <f:for each="{linkclicks}" as="linkclick">
                        <tr>
                            <td>{linkListener.title}</td>
                            <td>
                                <span title="UID{linkclick.visitor.uid}">{linkclick.visitor.fullName}</span>
                            </td>
                            <td>{linkclick.visitor.company}</td>
                            <td>
                            <span class="badge" title="{f:format.date(date:linkclick.crdate,format:'{f:translate(key:\'LLL:EXT:lux/Resources/Private/Language/locallang_db.xlf:date\')}')}">
                                <lux:format.readableDate>{linkclick.crdate}</lux:format.readableDate>
                            </span>
                            </td>
                        </tr>
                    </f:for>
                    </tbody>
                </table>

                <button style="margin-top: 15px" class="btn btn-primary pull-right" data-lux-linkmock-event="detailpage{pagevisits.0.uid}"><f:translate key="LLL:EXT:lux/Resources/Private/Language/locallang_db.xlf:module.detail.detail">show</f:translate></button>
            </f:then>
            <f:else>
                <f:render partial="Miscellaneous/NoValues" arguments="{_all}"/>
            </f:else>
        </f:if>
    </div>
</div>

<f:alias map="{headerPostfix: linkListener.title}">
    <f:render partial="Box/Analysis/AllLinkclicks" arguments="{_all}"/>
</f:alias>
