<f:spaceless>
    <lux:format.quotes>LEAD</lux:format.quotes>;<lux:format.quotes>SOURCE</lux:format.quotes>;<lux:format.quotes>MEDIUM</lux:format.quotes>;<lux:format.quotes>CAMPAIGN</lux:format.quotes>;<lux:format.quotes>ID</lux:format.quotes>;<lux:format.quotes>TERM</lux:format.quotes>;<lux:format.quotes>CONTENT</lux:format.quotes>
    <f:for each="{utmList}" as="utm"><lux:format.quotes>{utm.visitor.fullName}</lux:format.quotes>;<lux:format.quotes>{utm.utmSource}</lux:format.quotes>;<lux:format.quotes>{utm.utmMedium}</lux:format.quotes>;<lux:format.quotes>{utm.utmCampaign}</lux:format.quotes>;<lux:format.quotes>{utm.utmId}</lux:format.quotes>;<lux:format.quotes>{utm.utmTerm}</lux:format.quotes>;<lux:format.quotes>{utm.utmContent}</lux:format.quotes>
    </f:for>
</f:spaceless>
