<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">
            <f:translate key="LLL:EXT:lux/Resources/Private/Language/locallang_db.xlf:module.list.filter.companies">Filter</f:translate>
        </h3>
    </div>
    <div class="panel-body">
        <f:form name="filter" class="form" action="companies" object="{filter}">
            <div class="row">
                <div class="col-md-4">
                    <h5><f:translate key="LLL:EXT:lux/Resources/Private/Language/locallang_db.xlf:module.list.filter.header.search">Suche</f:translate></h5>

                    <div class="input-group form-group">
                        <f:form.textfield
                            type="text"
                            property="searchterm"
                            id="searchterm"
                            class="form-control"
                            placeholder="{f:translate(key:'LLL:EXT:lux/Resources/Private/Language/locallang_db.xlf:module.list.filter.searchterm')}" />
                        <button type="button" class="btn btn-default" data-global-event="click" data-action-focus="#searchterm">
                            <core:icon identifier="actions-search" />
                        </button>
                    </div>

                    <div class="input-group form-group">
                        <f:form.textfield
                            type="datetime-local"
                            property="timeFrom"
                            id="timeFrom"
                            class="form-control" />
                        <button type="button" class="btn btn-default" data-global-event="click" data-action-focus="#timeFrom">
                            {f:translate(key:'LLL:EXT:lux/Resources/Private/Language/locallang_db.xlf:module.list.filter.timeFrom')}
                        </button>
                    </div>
                </div>


                <div class="col-md-4">
                    <h5><f:translate key="LLL:EXT:lux/Resources/Private/Language/locallang_db.xlf:module.list.filter.header.scoringcompany">Scoring</f:translate></h5>

                    <div class="input-group form-group">
                        <f:form.textfield
                            type="range"
                            property="scoring"
                            class="form-control"
                            additionalAttributes="{min:0, max:200, onchange:'document.getElementById(\'scoring_label\').innerHTML = this.value;'}"
                            id="scoring"/>
                        <button type="button" class="btn btn-default" data-global-event="click" data-action-focus="#scoring">
                            Min: <strong id="scoring_label">{filter.scoring}</strong>
                        </button>
                    </div>

                    <div class="input-group form-group">
                        <f:form.textfield
                            type="datetime-local"
                            property="timeTo"
                            id="timeTo"
                            class="form-control" />
                        <button type="button" class="btn btn-default" data-global-event="click" data-action-focus="#timeTo">
                            {f:translate(key:'LLL:EXT:lux/Resources/Private/Language/locallang_db.xlf:module.list.filter.timeTo')}
                        </button>
                    </div>
                </div>


                <div class="col-md-4">
                    <h5><f:translate key="LLL:EXT:lux/Resources/Private/Language/locallang_db.xlf:module.list.filter.header.branches">Branch</f:translate></h5>

                    <div class="input-group form-group">
                        <f:form.select
                            property="branchCode"
                            options="{branches}"
                            prependOptionValue=""
                            prependOptionLabel=""
                            class="form-control form-select"
                            id="branchCode"/>
                        <button type="button" class="btn btn-default" data-global-event="click" data-action-focus="#branchCode">
                            <core:icon identifier="actions-tag" />
                        </button>
                    </div>

                    <div class="input-group form-group" style="display: block">
                        <div class="pull-right" style="white-space: nowrap; max-width: 260px;">
                            <f:comment>This submit is not visible. Nevertheless it will be triggered when pressing return in an input field because it is the first submit.</f:comment>
                            <f:form.submit
                                class="btn btn-primary"
                                value="{f:translate(key:'LLL:EXT:lux/Resources/Private/Language/locallang_db.xlf:module.list.filter.submit')}"
                                style="visibility:hidden;width:1px;padding:0;margin:0;"/>

                            <f:comment>CSV Download</f:comment>
                            <f:form.submit class="fa fa-download" name="export" id="download" value="csv" style="visibility:hidden;width:1px;padding:0;margin:0;"/>
                            <label class="btn btn-default" for="download" style="margin-right: 10px;">
                                <core:icon identifier="actions-download" size="small" />
                            </label>

                            <f:comment>Clear filter</f:comment>
                            <f:if condition="{filter.set}">
                                <f:link.action class="btn btn-default" style="margin-right: 10px" action="resetFilter" arguments="{redirectAction:view.action}">
                                    <f:translate key="LLL:EXT:lux/Resources/Private/Language/locallang_db.xlf:module.list.filter.reset">Reset</f:translate>
                                </f:link.action>
                            </f:if>

                            <f:comment>Submit filter</f:comment>
                            <f:form.submit
                                class="btn btn-primary"
                                value="{f:translate(key:'LLL:EXT:lux/Resources/Private/Language/locallang_db.xlf:module.list.filter.submit')}" />
                        </div>
                    </div>
                </div>
            </div>
        </f:form>
    </div>
</div>
