<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">
            <f:translate key="LLL:EXT:lux/Resources/Private/Language/locallang_db.xlf:module.list.filter">Filter</f:translate>
        </h3>
    </div>
    <div class="panel-body">
        <f:form name="filter" class="form" action="list" object="{filter}">
            <div class="row">
                <div class="col-md-4">
                    <h5><f:translate key="LLL:EXT:lux/Resources/Private/Language/locallang_db.xlf:module.list.filter.header.search">Suche</f:translate></h5>

                    <div class="input-group form-group">
                        <f:form.textfield
                            type="text"
                            property="searchterm"
                            id="searchterm"
                            class="form-control"
                            placeholder="{f:translate(key:'LLL:EXT:lux/Resources/Private/Language/locallang_db.xlf:module.list.filter.searchterm')}" />
                        <lux:condition.isTypo3Eleven>
                            <f:then>
                                <label class="btn btn-default" for="searchterm">
                                    <span class="fa fa-search"></span>
                                </label>
                            </f:then>
                            <f:else>
                                <label class="input-group-addon fa fa-search" for="searchterm"></label>
                            </f:else>
                        </lux:condition.isTypo3Eleven>
                    </div>

                    <div class="input-group form-group">
                        <f:form.textfield
                            type="datetime-local"
                            property="timeFrom"
                            id="timeFrom"
                            class="form-control" />
                        <lux:condition.isTypo3Eleven>
                            <f:then>
                                <label class="btn btn-default" for="timeFrom">
                                    {f:translate(key:'LLL:EXT:lux/Resources/Private/Language/locallang_db.xlf:module.list.filter.timeFrom')}
                                </label>
                            </f:then>
                            <f:else>
                                <label class="input-group-addon fa fa-calendar" for="timeFrom">
                                    {f:translate(key:'LLL:EXT:lux/Resources/Private/Language/locallang_db.xlf:module.list.filter.timeFrom')}
                                </label>
                            </f:else>
                        </lux:condition.isTypo3Eleven>
                    </div>
                </div>


                <div class="col-md-4">
                    <h5><f:translate key="LLL:EXT:lux/Resources/Private/Language/locallang_db.xlf:module.list.filter.header.scoring">Scoring</f:translate></h5>

                    <div class="input-group form-group">
                        <f:form.textfield
                            type="range"
                            property="scoring"
                            class="form-control"
                            additionalAttributes="{min:0, max:200, onchange:'document.getElementById(\'scoring_label\').innerHTML = this.value;'}"
                            id="scoring"/>
                        <lux:condition.isTypo3Eleven>
                            <f:then>
                                <label class="btn btn-default" for="scoring">
                                    Min: <strong id="scoring_label">{filter.scoring}</strong>
                                </label>
                            </f:then>
                            <f:else>
                                <label class="input-group-addon" for="scoring">
                                    Min: <strong id="scoring_label">{filter.scoring}</strong>
                                </label>
                            </f:else>
                        </lux:condition.isTypo3Eleven>
                    </div>

                    <div class="input-group form-group">
                        <f:form.textfield
                            type="datetime-local"
                            property="timeTo"
                            id="timeTo"
                            class="form-control" />
                        <lux:condition.isTypo3Eleven>
                            <f:then>
                                <label class="btn btn-default" for="timeTo">
                                    {f:translate(key:'LLL:EXT:lux/Resources/Private/Language/locallang_db.xlf:module.list.filter.timeTo')}
                                </label>
                            </f:then>
                            <f:else>
                                <label class="input-group-addon fa fa-calendar" for="timeTo">
                                    {f:translate(key:'LLL:EXT:lux/Resources/Private/Language/locallang_db.xlf:module.list.filter.timeTo')}
                                </label>
                            </f:else>
                        </lux:condition.isTypo3Eleven>
                    </div>
                </div>


                <div class="col-md-4">
                    <h5><f:translate key="LLL:EXT:lux/Resources/Private/Language/locallang_db.xlf:module.list.filter.header.categoryscoring">Scoring in Kategorie</f:translate></h5>

                    <div class="input-group form-group">
                        <f:form.select
                            property="categoryScoring"
                            options="{luxCategories}"
                            optionLabelField="title"
                            optionValueField="uid"
                            prependOptionValue=""
                            prependOptionLabel=""
                            class="form-control"
                            id="categoryScoring"/>
                        <lux:condition.isTypo3Eleven>
                            <f:then>
                                <label class="btn btn-default" for="categoryScoring">
                                    <span class="fa fa-tag"></span>
                                </label>
                            </f:then>
                            <f:else>
                                <label class="input-group-addon fa fa-tag" for="categoryScoring"></label>
                            </f:else>
                        </lux:condition.isTypo3Eleven>
                    </div>

                    <div class="input-group form-group" style="display: block">
                        <div class="form-check pull-left" style="position: relative;">
                            <f:form.checkbox
                                class="form-check-input"
                                id="identified"
                                property="identified"
                                value="1"
                                style="position: absolute; top: 4px;"
                                checked="{f:if(condition:'{filter.identified} == 1',then:'checked')}"/>
                            <label style="{lux:condition.isTypo3Eleven(then:'padding: 5px 0 0 5px;',else:'padding: 8px 0 0 20px;')}" class="form-check-label" for="identified">
                                <f:translate key="LLL:EXT:lux/Resources/Private/Language/locallang_db.xlf:module.list.filter.label.identifiedonly">Identified only</f:translate>
                            </label>
                        </div>

                        <div class="pull-right" style="white-space: nowrap; max-width: 260px;">
                            <f:comment>This submit is not visible. Nevertheless it will be triggered when pressing return in an input field because it is the first submit.</f:comment>
                            <f:form.submit
                                class="btn btn-primary"
                                value="{f:translate(key:'LLL:EXT:lux/Resources/Private/Language/locallang_db.xlf:module.list.filter.submit')}"
                                style="visibility:hidden;width:1px;padding:0;margin:0;"/>

                            <f:comment>CSV Download</f:comment>
                            <f:form.submit class="fa fa-download" name="export" id="download" value="csv" style="visibility:hidden;width:1px;padding:0;margin:0;"/>
                            <lux:condition.isTypo3Eleven>
                                <f:then>
                                    <label class="btn btn-default" for="download" style="margin-right: 10px;">
                                        <span class="fa fa-download" title="CSV Download"></span>
                                    </label>
                                </f:then>
                                <f:else>
                                    <label class="btn btn-default fa fa-download" for="download" style="margin-right: 10px;" title="CSV Download"></label>
                                </f:else>
                            </lux:condition.isTypo3Eleven>

                            <f:comment>Clear filter</f:comment>
                            <f:if condition="{filter.set}">
                                <f:link.action class="btn btn-default" style="margin-right: 10px" action="resetFilter" arguments="{redirectAction:view.action}">
                                    <f:translate key="LLL:EXT:lux/Resources/Private/Language/locallang_db.xlf:module.list.filter.reset">Reset</f:translate>
                                </f:link.action>
                            </f:if>

                            <f:comment>Submit filter</f:comment>
                            <f:form.submit
                                class="btn btn-primary"
                                value="{f:translate(key:'LLL:EXT:lux/Resources/Private/Language/locallang_db.xlf:module.list.filter.submit')}" />
                        </div>
                    </div>
                </div>
            </div>
        </f:form>
    </div>
</div>
