<f:be.container
    includeRequireJsModules="{0:'TYPO3/CMS/Lux/Lux/Module.min',1:'TYPO3/CMS/Lux/Lux/Diagram.min'}"
    includeCssFiles="{0:'{f:uri.resource(path:\'Css/Modules.min.css\')}'}"
    pageTitle="lux">

    <div class="module lux">
        <div class="module-docheader">
            <div class="typo3-docheader-functions">
                <div class="module-docheader-bar module-docheader-bar-navigation">
                    <div class="module-docheader-bar-column-left">
                        <div class="btn-group" role="group">
                            <img src="{f:uri.resource(path:'Icons/lux.svg?hash=123',extensionName:'lux')}" height="30" style="float:left;"/>
                            <f:render partial="{view.controller}/ActionSwitcher" arguments="{_all}" optional="true"/>
                        </div>

                        <span style="margin-left:10px;">Lux Community Edition</span>

                        <f:link.action action="information" controller="General" extensionName="lux" title="Information about Lux">
                            <span class="t3js-icon icon icon-size-small icon-state-default icon-actions-edit-hide">
                                <span class="icon-markup">
                                    <span class="t3-icon fa fa-info-circle"></span>
                                </span>
                            </span>
                        </f:link.action>
                    </div>
                    <div class="module-docheader-bar-column-right">
                        <lux:condition.isLuxenterpriseExtensionActivated>
                            <f:else>
                                <a href="https://www.in2code.de/produkte/lux-typo3-marketing-automation/" class="lux_poweredby" style="color:black !important; font-weight: bold;">
                                    <img src="{f:uri.resource(path:'Icons/star.svg',extensionName:'luxletter')}" alt="Lux enterprise" width="20" height="20" style="vertical-align:middle;" />
                                    Go enterprise
                                </a>
                            </f:else>
                        </lux:condition.isLuxenterpriseExtensionActivated>
                    </div>
                </div>
            </div>
            <div class="module-docheader-bar module-docheader-bar-buttons">
                <div class="module-docheader-bar-column-left">
                    &nbsp;
                </div>
                <div class="module-docheader-bar-column-right">
                    <f:be.buttons.shortcut/>
                </div>
            </div>
        </div>
        <div class="lux-backend module-body">
            <f:render section="content"/>
        </div>
    </div>
</f:be.container>
