<f:link.action action="dashboard" controller="Lead" class="btn{lux:backend.getClassNameOnAction(onAction:'dashboard',view:view)}">
    <f:translate key="LLL:EXT:lux/Resources/Private/Language/locallang_db.xlf:module.lead.dashboard">dashboard</f:translate>
</f:link.action>
<f:link.action action="list" controller="Lead" class="btn{lux:backend.getClassNameOnAction(onAction:'list',view:view)}">
    <f:translate key="LLL:EXT:lux/Resources/Private/Language/locallang_db.xlf:module.lead.list">list</f:translate>
</f:link.action>
