<div class="panel panel-default flex">
    <div class="panel-heading">
        <h3 class="panel-title">
            {f:translate(key:'LLL:EXT:lux/Resources/Private/Language/locallang_db.xlf:module.analysis.identified.0')}
            <span class="badge" style="float: right;" title="{f:translate(key:'LLL:EXT:lux/Resources/Private/Language/locallang_db.xlf:module.analysis.identified.0')}">
                <f:if condition="{numberOfUnknownVisitors} > 0">
                    <f:then><f:format.number decimals="1" decimalSeparator="," thousandsSeparator=".">{numberOfIdentifiedVisitors / numberOfUnknownVisitors * 100}</f:format.number>%</f:then>
                    <f:else>{numberOfIdentifiedVisitors}</f:else>
                </f:if>
            </span>
        </h3>
    </div>
    <div class="panel-body">
        <f:if condition="{numberOfIdentifiedVisitors} || {numberOfUnknownVisitors}">
            <f:then>
                <canvas
                        id="extension-lux-analysis-identified"
                        width="750"
                        height="350"
                        data-chart="bar"
                        data-chart-data="{numberOfIdentifiedVisitors},{numberOfUnknownVisitors}"
                        data-chart-labels="{f:translate(key:'LLL:EXT:lux/Resources/Private/Language/locallang_db.xlf:module.analysis.identified.0')},{f:translate(key:'LLL:EXT:lux/Resources/Private/Language/locallang_db.xlf:module.analysis.identified.1')}"></canvas>
            </f:then>
            <f:else>
                <f:translate key="LLL:EXT:lux/Resources/Private/Language/locallang_db.xlf:module.analysis.novalues">No values to show</f:translate>
            </f:else>
        </f:if>
    </div>
</div>
