<f:link.action action="dashboard" controller="Analysis" class="btn{lux:Be.GetClassNameOnAction(actionName:'dashboard')}">
    <f:translate key="LLL:EXT:lux/Resources/Private/Language/locallang_db.xlf:module.analysis.dashboard">dashboard</f:translate>
</f:link.action>
<f:link.action action="content" controller="Analysis" class="btn{lux:Be.GetClassNameOnAction(actionName:'content')}">
    <f:translate key="LLL:EXT:lux/Resources/Private/Language/locallang_db.xlf:module.analysis.content">content</f:translate>
</f:link.action>
