<div class="panel panel-default">
    <div class="panel-body">
        <f:form name="filter" class="form-inline" action="{action}">
            <div class="form-group pull-right">
                <f:form.select
                    class="form-control form-select"
                    property="timePeriod"
                    options="{lux:form.getOptionsArrayTimePeriodFilter()}"
                    value="{filter.timePeriod}"
                    additionalAttributes="{onchange:'this.form.submit();'}" />
            </div>
        </f:form>
    </div>
</div>
