<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">Filter</h3>
    </div>
    <div class="panel-body">
        <f:form name="filter" class="form" action="linkListener" object="{filter}">
            <div class="row flex">
                <div class="col-md-4 flex">
                    <h5><f:translate key="LLL:EXT:lux/Resources/Private/Language/locallang_db.xlf:module.list.filter.header.search">Suche</f:translate></h5>

                    <div class="input-group form-group">
                        <f:form.textfield
                                type="datetime"
                                property="searchterm"
                                id="searchterm"
                                class="form-control"
                                placeholder="{f:translate(key:'LLL:EXT:lux/Resources/Private/Language/locallang_db.xlf:module.list.filter.searchterm')}" />
                        <label class="input-group-addon fa fa-search" for="searchterm"></label>
                    </div>

                    <div class="input-group form-group">
                        <f:form.textfield
                            type="datetime"
                            property="timeFrom"
                            id="timeFrom"
                            class="form-control t3js-datetimepicker t3js-clearable"
                            placeholder="{f:translate(key:'LLL:EXT:lux/Resources/Private/Language/locallang_db.xlf:module.list.filter.timeFrom')}"
                            data="{date-type:'datetime',date-offset:'0'}" />
                        <label class="input-group-addon fa fa-calendar" for="timeFrom"></label>
                    </div>
                </div>


                <div class="col-md-4 flex">
                    <h5><f:translate key="LLL:EXT:lux/Resources/Private/Language/locallang_db.xlf:module.list.filter.header.category">Category</f:translate></h5>

                    <div class="input-group form-group">
                        <f:form.select
                            property="categoryScoring"
                            options="{luxCategories}"
                            optionLabelField="title"
                            optionValueField="uid"
                            prependOptionValue=""
                            prependOptionLabel=""
                            class="form-control"
                            id="categoryScoring"/>
                        <label class="input-group-addon fa fa-tag" for="categoryScoring"></label>
                    </div>

                    <div class="input-group form-group">
                        <f:form.textfield
                            type="datetime"
                            property="timeTo"
                            id="timeTo"
                            class="form-control t3js-datetimepicker t3js-clearable"
                            placeholder="{f:translate(key:'LLL:EXT:lux/Resources/Private/Language/locallang_db.xlf:module.list.filter.timeTo')}"
                            data="{date-type:'datetime',date-offset:'0'}" />
                        <label class="input-group-addon fa fa-calendar" for="timeTo"></label>
                    </div>
                </div>


                <div class="col-md-4 flex">
                    <div class="input-group form-group pull-right" style="display: block; position:absolute; bottom: 0;">
                        <f:if condition="{filter.set}">
                            <f:link.action class="btn btn-default" style="margin-right: 10px" action="resetFilter" arguments="{redirectAction:view.action}">
                                <f:translate key="LLL:EXT:lux/Resources/Private/Language/locallang_db.xlf:module.list.filter.reset">Reset</f:translate>
                            </f:link.action>
                        </f:if>

                        <f:form.submit
                            class="btn btn-primary"
                            value="{f:translate(key:'LLL:EXT:lux/Resources/Private/Language/locallang_db.xlf:module.list.filter.submit')}" />
                    </div>
                </div>
            </div>
        </f:form>
    </div>
</div>
