<f:layout name="Backend" />

<f:section name="content">
    <link rel="stylesheet" type="text/css" href="/typo3conf/ext/lux/Resources/Public/Css/Vendor/HoverEffectIdeas.css" />

    <div class="row" style="margin: 20px;">
        <div class="col-md-12">
            <h1>
                <f:translate key="LLL:EXT:lux/Resources/Private/Language/locallang_db.xlf:marketingcampaigns">
                    marketing campaigns
                </f:translate>
                <span style="font-size: 16px">
                    with <strong>Workflows</strong>, <strong>A/B testing</strong>, <strong>URL shortener</strong> and much more:
                    <a href="https://www.in2code.de/produkte/lux-typo3-marketing-automation/?utm_campaign=LUX+Community+Version&utm_id=llcv&utm_source=typo3&utm_medium=browser&utm_content=campaign+module+go+enterprise" target="_blank" rel="noopener">
                        <span style="color:black;text-decoration:underline;">Go enterprise</span>
                    </a>
                </span>
            </h1>
        </div>

        <div class="col-md-6">
            <figure class="effect-oscar" style="position: relative;">
                <f:image src="{f:uri.resource(path:'Images/Enterprise/WorkflowFrontendLightbox.png',extensionName:'lux')}" width="800c" height="400c" style="width: 100%; height: auto;" alt="Lightbox with additional information" />
                <a href="https://www.in2code.de/produkte/lux-typo3-marketing-automation/?utm_campaign=LUX+Community+Version&utm_id=llcv&utm_source=typo3&utm_medium=browser&utm_content=campaign+module+card+workflows" target="_blank" rel="noopener">
                    <figcaption style="position:absolute; top:0; left: 0; right: 0; bottom: 0; text-align: center; color: white;">
                        <h2 style="font-size: 40px;">
                            Workflows with triggers & actions
                        </h2>
                        <p style="font-size: 16px;">
                            Do you want to show relevant content to your leads? Or do you want to inform your sales team on defined triggers? Or a thousand things more!
                        </p>
                    </figcaption>
                </a>
            </figure>
        </div>
        <div class="col-md-6">
            <figure class="effect-oscar" style="position: relative;">
                <f:image src="{f:uri.resource(path:'Images/Enterprise/ContextualContent.png',extensionName:'lux')}" width="800c" height="400c" style="width: 100%; height: auto;" alt="Show interesting content" />
                <a href="https://www.in2code.de/produkte/lux-typo3-marketing-automation/?utm_campaign=LUX+Community+Version&utm_id=llcv&utm_source=typo3&utm_medium=browser&utm_content=campaign+module+card+content" target="_blank" rel="noopener">
                    <figcaption style="position:absolute; top:0; left: 0; right: 0; bottom: 0; text-align: center; color: white;">
                        <h2 style="font-size: 40px;">
                            Show interesting content
                        </h2>
                        <p style="font-size: 16px;">
                            Contextual Content Plugin: Show fascinating content for your visitor based on their interests.
                        </p>
                    </figcaption>
                </a>
            </figure>
        </div>
    </div>

    <div class="row" style="margin: 20px;">
        <div class="col-md-6">
            <figure class="effect-oscar" style="position: relative;">
                <f:image src="{f:uri.resource(path:'Images/Enterprise/AbTestingPageModule.png',extensionName:'lux')}" width="800c" height="400c" style="width: 100%; height: auto;" alt="Individual Triggers & Actions" />
                <a href="https://www.in2code.de/produkte/lux-typo3-marketing-automation/?utm_campaign=LUX+Community+Version&utm_id=llcv&utm_source=typo3&utm_medium=browser&utm_content=campaign+module+card+ab+testing" target="_blank" rel="noopener">
                    <figcaption style="position:absolute; top:0; left: 0; right: 0; bottom: 0; text-align: center; color: white;">
                        <h2 style="font-size: 40px;">
                            A/B Testing
                        </h2>
                        <p style="font-size: 16px;">
                            Optimize your conversions with an intelligent A/B testing in Lux. Define 2-12 pages that should compete against each other and see which design leads to the most conversions.
                        </p>
                    </figcaption>
                </a>
            </figure>
        </div>
        <div class="col-md-6">
            <figure class="effect-oscar" style="position: relative;">
                <f:image src="{f:uri.resource(path:'Images/Enterprise/UrlShortener.png',extensionName:'lux')}" width="800c" height="400c" style="width: 100%; height: auto;" alt="URL Shortener" />
                <a href="https://www.in2code.de/produkte/lux-typo3-marketing-automation/?utm_campaign=LUX+Community+Version&utm_id=llcv&utm_source=typo3&utm_medium=browser&utm_content=campaign+module+card+url+shortener" target="_blank" rel="noopener">
                    <figcaption style="position:absolute; top:0; left: 0; right: 0; bottom: 0; text-align: center; color: white;">
                        <h2 style="font-size: 40px;">
                            URL Shortener
                        </h2>
                        <p style="font-size: 16px;">
                            Use short URL with your domain and track visits. Also see from which social media platform your leads came and increase scoring for those visitors.
                        </p>
                    </figcaption>
                </a>
            </figure>
        </div>
    </div>

</f:section>
