<f:if condition="{visitors}">
    <div class="lux">
        <lux:condition.isLuxenterpriseExtensionActivated>
            <f:else>
                <a href="https://www.in2code.de/produkte/lux-typo3-marketing-automation/?utm_campaign=LUX+Community+Version&utm_id=llcv&utm_source=typo3&utm_medium=browser&utm_content=page+overview+go+enterprise" class="lux_poweredby" style="float:right;font-weight:bold;">
                    <img src="{f:uri.resource(path:'Icons/star.svg',extensionName:'lux')}" alt="Lux enterprise" width="20" height="20" style="vertical-align:bottom;" />
                    Go enterprise
                </a>
            </f:else>
        </lux:condition.isLuxenterpriseExtensionActivated>

        <h4 class="callout-title">
            <lux:backend.cache identifier="PageOverviewTitle{pageIdentifier}" cacheLayer="{cacheLayer}">
                <f:render partial="PageOverview/{view}/Title" arguments="{_all}"/>
            </lux:backend.cache>
        </h4>

        <div data-lux-toggle-target="pageOverview" class="{f:if(condition:'{status} == \'close\'',then:' hide')}">
            <lux:backend.cache identifier="PageOverviewContent{pageIdentifier}" cacheLayer="{cacheLayer}">
                <f:render partial="PageOverview/{view}/Body" arguments="{_all}"/>
            </lux:backend.cache>

            <lux:backend.getRenderingTime>
                <p class="alert alert-light" role="alert" style="clear:both;color:black;background:white;margin:5px;">
                    Rendering time: {renderingTime}s
                </p>
            </lux:backend.getRenderingTime>
        </div>

        <link rel="stylesheet" type="text/css" href="{f:uri.resource(path:'Css/PageOverview.min.css',extensionName:'lux')}" media="all">
        <lux:backend.addRequireJsModule moduleName="TYPO3/CMS/Lux/Lux/Diagram.min" />
        <lux:backend.addRequireJsModule moduleName="TYPO3/CMS/Lux/Lux/Module.min" />
        <script src="{f:uri.resource(path:'JavaScript/Lux/PageOverview.min.js',extensionName:'lux')}"></script>
    </div>
</f:if>
