services:
  _defaults:
    autowire: true
    autoconfigure: true
    public: false

  In2code\Lux\:
    resource: '../Classes/*'

  cache.luxcachelayer:
    class: TYPO3\CMS\Core\Cache\Frontend\FrontendInterface
    factory: [ '@TYPO3\CMS\Core\Cache\CacheManager', 'getCache' ]
    arguments: [ 'luxcachelayer' ]

  In2code\Lux\Domain\Cache\CacheLayer:
    public: true
    arguments:
      $cache: '@cache.luxcachelayer'

  In2code\Lux\Command\LuxAnonymizeCommand:
    tags:
      - name: 'console.command'
        command: 'lux:anonymize'

  In2code\Lux\Command\LuxAutorelateToFrontendUsersCommand:
    tags:
      - name: 'console.command'
        command: 'lux:autorelateToFrontendUsers'

  In2code\Lux\Command\LuxCacheWarmupCommand:
    tags:
      - name: 'console.command'
        command: 'lux:cachewarmup'
        schedulable: false

  In2code\Lux\Command\LuxCleanupAllVisitorsCommand:
    tags:
      - name: 'console.command'
        command: 'lux:cleanupAllVisitors'

  In2code\Lux\Command\LuxCleanupUnknownVisitorsByAgeCommand:
    tags:
      - name: 'console.command'
        command: 'lux:cleanupUnknownVisitorsByAge'

  In2code\Lux\Command\LuxCleanupVisitorByUidCommand:
    tags:
      - name: 'console.command'
        command: 'lux:cleanupVisitorByUid'

  In2code\Lux\Command\LuxCleanupVisitorsByAgeCommand:
    tags:
      - name: 'console.command'
        command: 'lux:cleanupVisitorsByAge'

  In2code\Lux\Command\LuxCleanupVisitorsByPropertyCommand:
    tags:
      - name: 'console.command'
        command: 'lux:cleanupVisitorsByProperty'

  In2code\Lux\Command\LuxLeadSendSummaryCommand:
    tags:
      - name: 'console.command'
        command: 'lux:leadSendSummary'

  In2code\Lux\Command\LuxLeadSendSummaryOfKnownCompaniesCommand:
    tags:
      - name: 'console.command'
        command: 'lux:leadSendSummaryOfKnownCompaniesCommand'

  In2code\Lux\Command\LuxLeadSendSummaryOfLuxCategoryCommand:
    tags:
      - name: 'console.command'
        command: 'lux:leadSendSummaryOfLuxCategory'

  In2code\Lux\Command\LuxServiceRecalculateScoringCommand:
    tags:
      - name: 'console.command'
        command: 'lux:serviceRecalculateScoring'

  In2code\Lux\Domain\Factory\Ipinformation\Handler:
    public: true

  In2code\Lux\Domain\Service\VisitorImageService:
    public: true

  In2code\Lux\Domain\Service\VisitorMergeService:
    public: true

  In2code\Lux\Domain\Tracker\CompanyTracker:
    public: true

  In2code\Lux\Domain\Tracker\NewsTracker:
    public: true

  In2code\Lux\Domain\Tracker\PageTracker:
    public: true

  In2code\Lux\Domain\Tracker\SearchTracker:
    public: true

  In2code\Lux\Hooks\PageOverview:
    public: true
    tags:
      - name: event.listener
        identifier: 'lux/modifyPageModule'
        method: 'eventRegistration'

  In2code\Lux\ViewHelpers\Lead\GetDateOfLatestPageVisitAndPageViewHelper:
    public: true

  In2code\Lux\ViewHelpers\Lead\GetDateOfLatestPageVisitViewHelper:
    public: true

  In2code\Lux\ViewHelpers\Page\GetVisitedPageAmountByPageIdentifierAndVisitorViewHelper:
    public: true

  In2code\Lux\Domain\Finisher\FinisherHandler:
    tags:
      - name: 'event.listener'
        identifier: 'lux/finisher'
        event: In2code\Lux\Events\AfterTrackingEvent

  In2code\Lux\Domain\LogEventListeners\Log:
    tags:
      - name: 'event.listener'
        identifier: 'lux/logNewVisitor'
        method: 'logNewVisitor'
        event: In2code\Lux\Events\Log\LogVisitorEvent
      - name: 'event.listener'
        identifier: 'lux/logVisitorIdentifiedByFieldlistening'
        method: 'logIdentifiedVisitorByFieldListening'
        event: In2code\Lux\Events\Log\LogVisitorIdentifiedByFieldlisteningEvent
      - name: 'event.listener'
        identifier: 'lux/logVisitorIdentifiedByFormlistening'
        method: 'logIdentifiedVisitorByFormListening'
        event: In2code\Lux\Events\Log\LogVisitorIdentifiedByFormlisteningEvent
      - name: 'event.listener'
        identifier: 'lux/logVisitorIdentifiedByEmail4link'
        method: 'logIdentifiedVisitorByEmail4Link'
        event: In2code\Lux\Events\Log\LogVisitorIdentifiedByEmail4linkEvent
      - name: 'event.listener'
        identifier: 'lux/logVisitorIdentifiedByLuxletterlink'
        method: 'logIdentifiedVisitorByLuxletterlink'
        event: In2code\Lux\Events\Log\LogVisitorIdentifiedByLuxletterlinkEvent
      - name: 'event.listener'
        identifier: 'lux/logVisitorIdentifiedByFrontendauthentication'
        method: 'logIdentifiedVisitorByFrontendauthentication'
        event: In2code\Lux\Events\Log\LogVisitorIdentifiedByFrontendauthenticationEvent
      - name: 'event.listener'
        identifier: 'lux/logEmail4linkSendEmailEvent'
        method: 'logEmail4LinkEmail'
        event: In2code\Lux\Events\Log\LogEmail4linkSendEmailEvent
      - name: 'event.listener'
        identifier: 'lux/logEmail4linkSendEmailFailedEvent'
        method: 'logEmail4LinkEmailFailed'
        event: In2code\Lux\Events\Log\LogEmail4linkSendEmailFailedEvent
      - name: 'event.listener'
        identifier: 'lux/logDownload'
        method: 'logDownload'
        event: In2code\Lux\Events\Log\DownloadEvent
      - name: 'event.listener'
        identifier: 'lux/logUtm'
        method: 'logUtm'
        event: In2code\Lux\Events\Log\UtmEvent
      - name: 'event.listener'
        identifier: 'lux/logSearch'
        method: 'logSearch'
        event: In2code\Lux\Events\Log\SearchEvent
      - name: 'event.listener'
        identifier: 'lux/logLinkClick'
        method: 'logLinkClick'
        event: In2code\Lux\Events\Log\LinkClickEvent

  In2code\Lux\Domain\Service\CategoryScoringService:
    tags:
      - name: 'event.listener'
        identifier: 'lux/calculateCategoryScoring'
        event: In2code\Lux\Events\AfterTrackingEvent

  In2code\Lux\Domain\Service\ScoringService:
    tags:
      - name: 'event.listener'
        identifier: 'lux/calculateScoring'
        method: 'calculateAndSetScoringFromEvent'
        event: In2code\Lux\Events\AfterTrackingEvent

  In2code\Lux\Domain\Tracker\StopTracking:
    tags:
      - name: 'event.listener'
        identifier: 'lux/stopTracking'
        event: In2code\Lux\Events\StopAnyProcessBeforePersistenceEvent

  In2code\Lux\Domain\Tracker\UtmTracker:
    public: true
    tags:
      - name: 'event.listener'
        identifier: 'lux/utmPageTracker'
        method: 'trackPage'
        event: In2code\Lux\Events\PageTrackerEvent
      - name: 'event.listener'
        identifier: 'lux/utmNewsTracker'
        method: 'trackNews'
        event: In2code\Lux\Events\NewsTrackerEvent
