<div class="lux_container_email4link" data-lux-container="email4link">
    <div class="lux_lightbox_container">
        <h3>###TITLE###</h3>
        <p>###TEXT###</p>

        <form data-lux-email4link="form">
            <div class="form-group">
                <label for="lux_email4link_email" style="display: none;">Email</label>
                <input
                        type="email"
                        id="lux_email4link_email"
                        class="form-control"
                        required="required"
                        placeholder="{f:translate(key:'LLL:EXT:lux/Resources/Private/Language/locallang_db.xlf:frontend.email4link.lightbox.email')}"
                        name="email4link[email]">
            </div>


            <f:comment>

                <!--
                This is just an example how to add own fields in email4link popup. Take care that name is something like name="email4link[something]"
                Note: You also have to register new fields in TypoScript settings.identification.email4link.form.fields.enabled
                -->

            <div class="form-check">
                <label>
                    <input
                        type="checkbox"
                        class="form-check-input"
                        name="email4link[newsletter]"
                        value="1" />
                    Yes, I want to receive a newsletter with newest stuff
                </label>
            </div>
            </f:comment>

            <f:if condition="{settings.addPrivacyLink}">
                <div class="form-check">
                    <label>
                        <input
                                type="checkbox"
                                class="form-check-input"
                                required="required"
                                name="email4link[privacyChecked]"
                                value="1" />
                        <f:translate key="LLL:EXT:lux/Resources/Private/Language/locallang_db.xlf:frontend.email4link.lightbox.privacy" />
                        <f:link.typolink parameter="{settings.pidPrivacyPage}" target="_blank" />
                    </label>
                </div>
            </f:if>

            <input
                    type="submit"
                    class="btn btn-primary"
                    value="{f:translate(key:'LLL:EXT:lux/Resources/Private/Language/locallang_db.xlf:frontend.email4link.lightbox.submit')}" />

        </form>

        <p class="lux_smalltext">###HREF###</p>

        <lux:condition.isLuxenterpriseExtensionActivated>
            <f:else>
                <a href="https://www.in2code.de/produkte/lux-typo3-marketing-automation/" class="lux_poweredby">
                    Powered by
                    <img src="{f:uri.resource(path:'Icons/lux.svg',extensionName:'lux')}" alt="Lux logo" width="30" height="30" />
                </a>
            </f:else>
        </lux:condition.isLuxenterpriseExtensionActivated>

        <div data-lux-email4link="successMessageSendEmail" style="display:none;" class="alert alert-success">
            {f:translate(key:'LLL:EXT:lux/Resources/Private/Language/locallang_db.xlf:frontend.email4link.lightbox.success')}
        </div>

        <div data-lux-email4link="errorEmailAddress" style="display:none;" class="alert alert-danger">
            {f:translate(key:'LLL:EXT:lux/Resources/Private/Language/locallang_db.xlf:frontend.email4link.lightbox.emailerror')}
        </div>
    </div>
</div>
