<div class="panel panel-default flex">
    <div class="panel-heading">
        <h3 class="panel-title">
            <f:translate key="LLL:EXT:lux/Resources/Private/Language/locallang_db.xlf:module.detail.pagefunnel">Pagefunnel</f:translate>
            <span class="badge pull-right" title="{f:translate(key:'LLL:EXT:lux/Resources/Private/Language/locallang_db.xlf:tx_lux_domain_model_visitor.pagevisits')}">{visitor.pagevisits -> f:count()}</span>
        </h3>
    </div>
    <div class="panel-body">
        <f:if condition="{visitor.pagevisits}">
            <f:then>
                <div style="height: 450px; overflow: auto; ">
                    <nav class="timeline timeline--vertical">
                        <f:for each="{visitor.pagevisits}" as="pagevisit">
                            <div class="timeline__item" title="PID{pagevisit.page.uid}">
                                <div style="margin-top: 5px;">
                                    {pagevisit.page.title}
                                    <span class="badge pull-right" title="{f:format.date(date:pagevisit.crdate,format:'{f:translate(key:\'LLL:EXT:lux/Resources/Private/Language/locallang_db.xlf:date\')}')}">{lux:format.readableDate(date:pagevisit.crdate)}</span>
                                </div>
                            </div>
                        </f:for>
                        <f:if condition="{visitor.referrer}">
                            <div class="timeline__item">
                                <div style="margin-top: 5px;">
                                    <a href="{visitor.referrer}" target="_blank">{visitor.readableReferrer}</a>
                                    <span class="badge pull-right" title="{f:format.date(date:visitor.crdate,format:'{f:translate(key:\'LLL:EXT:lux/Resources/Private/Language/locallang_db.xlf:date\')}')}">{lux:format.readableDate(date:visitor.crdate)}</span>
                                </div>
                            </div>
                        </f:if>
                    </nav>
                </div>
            </f:then>
            <f:else>
                <f:translate key="LLL:EXT:lux/Resources/Private/Language/locallang_db.xlf:module.analysis.novalues">No values to show</f:translate>
            </f:else>
        </f:if>
    </div>
</div>
