<f:layout name="Backend" />

<f:section name="content">
    <f:asset.css identifier="HoverEffectIdeasLUX" href="EXT:lux/Resources/Public/Css/Vendor/HoverEffectIdeas.css"/>

    <h1>
        <f:translate key="LLL:EXT:lux/Resources/Private/Language/locallang_db.xlf:module.companiesDisabled.title">
            GDPR conform Wiredminds integration into TYPO3
        </f:translate>
    </h1>

    <f:form class="form" action="companiesDisabled">
        <div class="row">
            <div class="col-md-12">
                <h4>
                    <f:translate key="LLL:EXT:lux/Resources/Private/Language/locallang_db.xlf:module.companiesDisabled.token1">
                        Just add a
                    </f:translate>
                    <a href="https://www.in2code.de/typo3-wiredminds-integration/?utm_campaign=LUX+Community+Version&utm_id=llcv&utm_source=typo3&utm_medium=browser&utm_content=companies+module+get+token" target="_blank" rel="noopener">Wiredminds Token</a>
                    <f:translate key="LLL:EXT:lux/Resources/Private/Language/locallang_db.xlf:module.companiesDisabled.token2">
                        and convert your visitors to companies automatically
                    </f:translate>:
                </h4>
            </div>

            <div class="col-md-5">
                    <div class="input-group">
                        <f:form.textfield
                            class="form-control form-control-lg"
                            name="tokenWiredminds"
                            required="required"
                            value=""
                            placeholder="[Wiredminds Token]" />
                    </div>
            </div>
            <div class="col-md-1">
                <f:form.submit class="btn btn-primary form-control-lg" value="Submit" style="width:100%;font-size:15px;" />
            </div>
            <div class="col-md-6">
            </div>

            <div class="col-md-12 help-block">
                <p>
                    <f:translate key="LLL:EXT:lux/Resources/Private/Language/locallang_db.xlf:module.companiesDisabled.note">
                        Adding and submitting a valid token will add these TypoScript constants to your root templates
                    </f:translate>:
                </p>
                <ul>
                    <li>plugin.tx_lux.settings.tracking.company.enable = 1</li>
                    <li>plugin.tx_lux.settings.tracking.company.autoConvert.enable = 1</li>
                    <li>plugin.tx_lux.settings.tracking.company.token = [Wiredminds Token]</li>
                </ul>
            </div>
        </div>
    </f:form>



    <h1 style="margin-top: 3rem;">
        <f:translate key="LLL:EXT:lux/Resources/Private/Language/locallang_db.xlf:module.companiesDisabled.titleImages">
            Valuable B2B sales information
        </f:translate>
    </h1>

    <div class="row">
        <div class="col-md-6">
            <figure class="effect-oscar" style="position: relative;">
                <f:image src="{f:uri.resource(path:'Images/Companies/Companies.png',extensionName:'lux')}" width="800c" height="435c" style="width: 100%; height: auto;" alt="List of companies" />
                <a href="https://www.in2code.de/typo3-wiredminds-integration/?utm_campaign=LUX+Community+Version&utm_id=llcv&utm_source=typo3&utm_medium=browser&utm_content=companies+module+get+token" target="_blank" rel="noopener">
                    <figcaption style="position:absolute; top:0; left: 0; right: 0; bottom: 0; text-align: center; color: white;">
                        <h2 style="font-size: 40px;">
                            <f:translate key="LLL:EXT:lux/Resources/Private/Language/locallang_db.xlf:module.companiesDisabled.image1.title">
                                See visitor companies
                            </f:translate>
                        </h2>
                        <p style="font-size: 16px;">
                            <f:translate key="LLL:EXT:lux/Resources/Private/Language/locallang_db.xlf:module.companiesDisabled.image1.description">
                                GDPR conform service to convert IP-addresses automatically to company information
                            </f:translate>
                        </p>
                    </figcaption>
                </a>
            </figure>
        </div>
        <div class="col-md-6">
            <figure class="effect-oscar" style="position: relative;">
                <f:image src="{f:uri.resource(path:'Images/Companies/Company.png',extensionName:'lux')}" width="800c" height="435c" style="width: 100%; height: auto;" alt="Company detail view with revenue, size and contact" />
                <a href="https://www.in2code.de/typo3-wiredminds-integration/?utm_campaign=LUX+Community+Version&utm_id=llcv&utm_source=typo3&utm_medium=browser&utm_content=companies+module+get+token" target="_blank" rel="noopener">
                    <figcaption style="position:absolute; top:0; left: 0; right: 0; bottom: 0; text-align: center; color: white;">
                        <h2 style="font-size: 40px;">
                            <f:translate key="LLL:EXT:lux/Resources/Private/Language/locallang_db.xlf:module.companiesDisabled.image2.title">
                                Company with details
                            </f:translate>
                        </h2>
                        <p style="font-size: 16px;">
                            <f:translate key="LLL:EXT:lux/Resources/Private/Language/locallang_db.xlf:module.companiesDisabled.image2.description">
                                See revenue, size, contacts and more B2B relevant information to a company
                            </f:translate>
                        </p>
                    </figcaption>
                </a>
            </figure>
        </div>
    </div>
</f:section>
