<f:layout name="Backend"/>

<f:section name="content">
    <div class="row flex" data-lux-container="detail">
        <div class="col-md-6 flex">
            <f:render section="Information" arguments="{_all}"/>
        </div>
        <div class="col-md-6 flex">
            <div class="row flex">
                <div class="col-md-6 flex">
                    <f:alias map="{style:'height: 450px; overflow: auto;'}">
                        <f:render partial="Box/Miscellaneous/Log" arguments="{_all}" />
                    </f:alias>
                </div>
                <div class="col-md-6 flex">
                    <f:alias map="{visitors:company.visitors, style:'height: 450px; overflow: auto;'}">
                        <f:render partial="Box/Company/Visitors" arguments="{_all}" />
                    </f:alias>
                </div>
            </div>
        </div>
    </div>

    <div class="row flex" data-lux-container="detail">
        <div class="col-md-6 flex">
            <div class="panel panel-default flex">
                <div class="panel-heading">
                    <h3 class="panel-title">
                        Todo Pagevisits
                    </h3>
                </div>
                <div class="panel-body" style="height: 450px; overflow: auto;">
                </div>
            </div>
        </div>
        <div class="col-md-6 flex">
            <div class="row flex" data-lux-container="detail">
                <div class="col-md-6 flex">
                    <div class="panel panel-default flex">
                        <div class="panel-heading">
                            <h3 class="panel-title">
                                Todo Company Scoring
                            </h3>
                        </div>
                        <div class="panel-body" style="height: 450px; overflow: auto;">
                        </div>
                    </div>
                </div>
                <div class="col-md-6 flex">
                    <div class="panel panel-default flex">
                        <div class="panel-heading">
                            <h3 class="panel-title">
                                Todo Company Category Scoring
                            </h3>
                        </div>
                        <div class="panel-body" style="height: 450px; overflow: auto;">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <f:render section="Buttons" arguments="{_all}"/>
</f:section>


<f:section name="Information">
    <div class="panel panel-default flex">
        <div class="panel-heading">
            <h3 class="panel-title">
                <f:translate key="LLL:EXT:lux/Resources/Private/Language/locallang_db.xlf:dictionary.company">Company</f:translate>
            </h3>
        </div>
        <div class="panel-body" style="height: 450px; overflow: auto;">
            <div class="row">
                <div class="col-md-3">
                    <img src="{f:uri.resource(path:'Images/AvatarDefault.svg',extensionName:'lux')}" alt="{company.title}" class="img-circle" data-lux-asynchronous-companyimage="{company.uid}" />
                </div>
                <div class="col-md-9">
                    <h3>{company.title}</h3>

                    <p>
                        {company.street}<f:if condition="{company.street}">,</f:if> {company.zip} {company.city}, {company.country}
                        <a href="https://www.google.com/maps/?q={company.address -> f:format.urlencode()}" target="_blank" title="View on google maps">
                            <img src="{f:uri.resource(path:'Images/LogoGoogleMaps.svg',extensionName:'Lux')}" width="16" />
                        </a>
                    </p>
                    <f:if condition="{company.phone} || {company.domain}">
                        <p>
                            {company.phone}
                            <span style="padding-left: 1rem;">
                                <f:link.typolink parameter="https://{company.domain}" target="_blank">{company.domain}</f:link.typolink>
                            </span>
                        </p>
                    </f:if>

                    <div class="row" style="margin-top: 2rem;">
                        <div class="col-md-12">
                            <table class="table table-striped">
                                <f:if condition="{company.branchCode}">
                                    <tr>
                                        <th title="Branch code {company.branchCode}" colspan="2">
                                            {company.branch}
                                        </th>
                                    </tr>
                                </f:if>
                                <f:if condition="{company.revenueClass}">
                                    <tr>
                                        <th style="width: 30%;">
                                            <f:translate key="LLL:EXT:lux/Resources/Private/Language/locallang_db.xlf:tx_lux_domain_model_company.revenue">Revenue</f:translate>
                                        </th>
                                        <td title="Revenue class {company.revenueClass}">
                                            {company.revenue}
                                        </td>
                                    </tr>
                                </f:if>
                                <f:if condition="{company.sizeClass}">
                                    <tr>
                                        <th>
                                            <f:translate key="LLL:EXT:lux/Resources/Private/Language/locallang_db.xlf:tx_lux_domain_model_company.size">Size</f:translate>
                                        </th>
                                        <td title="Size class {company.sizeClass}">
                                            {company.size}
                                        </td>
                                    </tr>
                                </f:if>
                                <f:if condition="{company.foundingYear}">
                                    <tr>
                                        <th>
                                            <f:translate key="LLL:EXT:lux/Resources/Private/Language/locallang_db.xlf:tx_lux_domain_model_company.founding_year">Founding year</f:translate>
                                        </th>
                                        <td>
                                            {company.foundingYear}
                                        </td>
                                    </tr>
                                </f:if>
                            </table>

                            <table class="table table-striped" style="margin-top: 1rem;">
                                <tr>
                                    <th style="width: 30%;">
                                        <f:translate key="LLL:EXT:lux/Resources/Private/Language/locallang_db.xlf:tx_lux_domain_model_visitor.crdate">First visit</f:translate>
                                    </th>
                                    <td>
                                        <span title="{f:format.date(date:company.firstPagevisit.crdate,format:'{f:translate(key:\'LLL:EXT:lux/Resources/Private/Language/locallang_db.xlf:date\')}')}">
                                            <lux:format.readableDate>{company.firstPagevisit.crdate}</lux:format.readableDate>
                                        </span>
                                        <span title="UID{company.firstPagevisit.visitor.uid}" style="margin-left: 1rem;">
                                            <f:be.link
                                                route="lux_LuxLead"
                                                parameters="{tx_lux_lux_luxlead:'{visitor:company.firstPagevisit.visitor.uid,action:\'detail\',controller:\'Lead\'}'}">
                                                {company.firstPagevisit.visitor.fullName}
                                            </f:be.link>
                                        </span>
                                    </td>
                                </tr>
                                <tr>
                                    <th>
                                        <f:translate key="LLL:EXT:lux/Resources/Private/Language/locallang_db.xlf:tx_lux_domain_model_visitor.tstamp">First visit</f:translate>
                                    </th>
                                    <td>
                                        <span title="{f:format.date(date:company.latestPagevisit.crdate,format:'{f:translate(key:\'LLL:EXT:lux/Resources/Private/Language/locallang_db.xlf:date\')}')}">
                                            <lux:format.readableDate>{company.latestPagevisit.crdate}</lux:format.readableDate>
                                        </span>
                                        <span title="UID{company.latestPagevisit.visitor.uid}" style="margin-left: 1rem;">
                                            <f:be.link
                                                route="lux_LuxLead"
                                                parameters="{tx_lux_lux_luxlead:'{visitor:company.latestPagevisit.visitor.uid,action:\'detail\',controller:\'Lead\'}'}">
                                                {company.latestPagevisit.visitor.fullName}
                                            </f:be.link>
                                        </span>
                                    </td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>
            </div>


            <div class="row" style="margin-top: 2rem;">
                <div class="col-md-12">
                    <f:if condition="{categories}">
                        <select class="form-select" data-lux-company-category="{company.uid}">
                            <option value="0"><f:translate key="LLL:EXT:lux/Resources/Private/Language/locallang_db.xlf:tx_lux_domain_model_company.category.nocategory">No category</f:translate></option>
                            <f:for each="{categories}" as="category">
                                <option value="{category.uid}"{f:if(condition:'{category.uid} == {company.category.uid}',then:'selected="selected"')}>{category.title}</option>
                            </f:for>
                        </select>
                    </f:if>

                    <textarea class="lux-textarea{f:if(condition:'{company.description}',else:' lux-textarea__default')}" data-lux-description="company:{company.uid}" style="margin-top: 0.5rem;"><f:if condition="{company.description}"><f:then>{company.description}</f:then><f:else><f:translate key="LLL:EXT:lux/Resources/Private/Language/locallang_db.xlf:module.detail.description">Add text...</f:translate></f:else></f:if></textarea>
                </div>
            </div>
        </div>
    </div>
</f:section>


<f:section name="Buttons">
    <div class="row" style="padding-bottom: 20px;">
        <div class="col-md-12">
            <button onclick="window.history.back();" class="btn btn-primary">
                <f:translate key="LLL:EXT:lux/Resources/Private/Language/locallang_db.xlf:back">go back</f:translate>
            </button>

            <f:link.action action="remove" arguments="{visitor:visitor}" class="btn btn-default" onclick="return confirm('{f:translate(key:\"LLL:EXT:lux/Resources/Private/Language/locallang_db.xlf:areYouSure\")}')">
                TODO: <f:translate key="LLL:EXT:lux/Resources/Private/Language/locallang_db.xlf:module.list.link.remove">delete</f:translate>
            </f:link.action>
        </div>
    </div>
</f:section>

