<f:layout name="Backend"/>

<f:section name="content">
    <f:render partial="Filter/Lead/Dashboard" arguments="{_all}"/>

    <div class="row flex">
        <div class="col-md-8 flex">
            <div class="row flex">
                <div class="col-md-6 flex">
                    <div data-lux-unitajax="LeadDashboardRecurring" class="unitajax">
                        <div class="unitajax-spinner"></div>
                    </div>
                </div>
                <div class="col-md-6 flex">
                    <div data-lux-unitajax="LeadDashboardHottest" class="unitajax">
                        <div class="unitajax-spinner"></div>
                    </div>
                </div>
            </div>
            <div class="row flex">
                <div class="col-md-6 flex">
                    <div data-lux-unitajax="LeadDashboardIdentified" class="unitajax">
                        <div class="unitajax-spinner"></div>
                    </div>
                </div>
                <div class="col-md-6 flex">
                    <div data-lux-unitajax="LeadDashboardIdentifiedpermonth" class="unitajax">
                        <div class="unitajax-spinner"></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4 flex">
            <f:render partial="Box/Miscellaneous/Log" arguments="{_all}"/>
        </div>
    </div>

    <div class="row flex">
        <div class="col-md-4 flex">
            <div data-lux-unitajax="LeadDashboardIdentifiedpermethod" class="unitajax">
                <div class="unitajax-spinner"></div>
            </div>
        </div>
        <div class="col-md-4 flex">
            <div data-lux-unitajax="LeadDashboardReferrer" class="unitajax">
                <div class="unitajax-spinner"></div>
            </div>
        </div>
        <div class="col-md-4 flex">
            <f:render partial="Box/Leads/WhoIsOnline" arguments="{_all}"/>
        </div>
    </div>

    <div class="row flex">
        <div class="col-md-8">
            <div data-lux-unitajax="LeadDashboardMap" class="unitajax">
                <div class="unitajax-spinner"></div>
            </div>
        </div>
        <div class="col-md-4">
            <div data-lux-unitajax="LeadDashboardCountrylist" class="unitajax">
                <div class="unitajax-spinner"></div>
            </div>
        </div>
    </div>
</f:section>
