<f:layout name="Backend"/>

<f:section name="content">
    <div class="row flex">
        <div class="col-md-8 flex">
            <div class="row flex">
                <div class="col-md-6 flex">
                    <lux:backend.cache identifier="Box/Leads/Recurring" cacheLayer="{cacheLayer}">
                        <f:render partial="Box/Leads/Recurring" arguments="{_all}"/>
                    </lux:backend.cache>
                </div>
                <div class="col-md-6 flex">
                    <lux:backend.cache identifier="Box/Leads/Hottest" cacheLayer="{cacheLayer}">
                        <f:render partial="Box/Leads/Hottest" arguments="{_all}"/>
                    </lux:backend.cache>
                </div>
            </div>
            <div class="row flex">
                <div class="col-md-6 flex">
                    <lux:backend.cache identifier="Box/Leads/Identified" cacheLayer="{cacheLayer}">
                        <f:render partial="Box/Leads/Identified" arguments="{_all}"/>
                    </lux:backend.cache>
                </div>
                <div class="col-md-6 flex">
                    <lux:backend.cache identifier="Box/Leads/IdentifiedPerMonth" cacheLayer="{cacheLayer}">
                        <f:render partial="Box/Leads/IdentifiedPerMonth" arguments="{_all}"/>
                    </lux:backend.cache>
                </div>
            </div>
        </div>
        <div class="col-md-4 flex">
            <f:render partial="Box/Miscellaneous/Log" arguments="{_all}"/>
        </div>
    </div>

    <div class="row flex">
        <div class="col-md-4 flex">
            <lux:backend.cache identifier="Box/Leads/IdentifiedPerMethod" cacheLayer="{cacheLayer}">
                <f:render partial="Box/Leads/IdentifiedPerMethod" arguments="{_all}"/>
            </lux:backend.cache>
        </div>
        <div class="col-md-4 flex">
            <lux:backend.cache identifier="Box/Leads/Referrer" cacheLayer="{cacheLayer}">
                <f:render partial="Box/Leads/Referrer" arguments="{_all}"/>
            </lux:backend.cache>
        </div>
        <div class="col-md-4 flex">
            <f:render partial="Box/Leads/WhoIsOnline" arguments="{_all}"/>
        </div>
    </div>

    <div class="row flex">
        <div class="col-md-8">
            <lux:backend.cache identifier="Box/Leads/Map" cacheLayer="{cacheLayer}">
                <f:render partial="Box/Leads/Map" arguments="{_all}"/>
            </lux:backend.cache>
        </div>
        <div class="col-md-4">
            <lux:backend.cache identifier="Box/Leads/CountryList" cacheLayer="{cacheLayer}">
                <f:render partial="Box/Leads/CountryList" arguments="{_all}"/>
            </lux:backend.cache>
        </div>
    </div>
</f:section>
