<f:layout name="Backend"/>

<f:section name="content">
    <div class="row flex" data-lux-container="detail">
        <div class="col-md-6 flex">
            <f:render partial="Box/Lead/Information" arguments="{_all}"/>
        </div>
        <div class="col-md-6 flex">
            <div class="row flex" style="height: 100%;">
                <div class="col-md-6 flex">
                    <f:alias map="{interestingLogs:visitor.logs, style:'height: 450px; overflow: auto;'}">
                        <f:render partial="Box/Miscellaneous/Log" arguments="{_all}" />
                    </f:alias>
                </div>

                <div class="col-md-6 flex">
                    <f:render partial="Box/Lead/PageFunnel" arguments="{_all}" />
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-4">
            <f:render partial="Box/Lead/Scoring" arguments="{_all}"/>
        </div>
        <div class="col-md-4">
            <f:render partial="Box/Lead/CategoryScoring" arguments="{_all}"/>
        </div>
        <div class="col-md-4">
            <f:render partial="Box/Analysis/Pagevisits" arguments="{_all}"/>
        </div>
    </div>

    <div class="row">
        <div class="col-md-6">
            <f:render partial="Box/Lead/Properties" arguments="{_all}"/>
        </div>
        <div class="col-md-6">
            <f:render partial="Box/Lead/Profiles" arguments="{_all}"/>
        </div>
    </div>

    <div class="row" style="padding-bottom: 20px;">
        <div class="col-md-12">
            <button onclick="window.history.back();" class="btn btn-primary">
                <f:translate key="LLL:EXT:lux/Resources/Private/Language/locallang_db.xlf:back">go back</f:translate>
            </button>

            <f:if condition="{visitor.companyrecord}">
                <f:be.link
                    route="lux_LuxLead"
                    title="{visitor.companyrecord.title}"
                    class="btn btn-secondary"
                    parameters="{tx_lux_lux_luxlead:'{company:visitor.companyrecord.uid,action:\'company\',controller:\'Lead\'}'}">
                    <f:translate key="LLL:EXT:lux/Resources/Private/Language/locallang_db.xlf:module.analysis.detailpage.companylink">show</f:translate>
                </f:be.link>
            </f:if>

            <f:link.action action="deactivate" arguments="{visitor:visitor}" class="btn btn-default" onclick="return confirm('{f:translate(key:\"LLL:EXT:lux/Resources/Private/Language/locallang_db.xlf:areYouSure\")}')">
                <f:translate key="LLL:EXT:lux/Resources/Private/Language/locallang_db.xlf:module.list.link.deactivate">ignore</f:translate>
            </f:link.action>

            <f:link.action action="remove" arguments="{visitor:visitor}" class="btn btn-default" onclick="return confirm('{f:translate(key:\"LLL:EXT:lux/Resources/Private/Language/locallang_db.xlf:areYouSure\")}')">
                <f:translate key="LLL:EXT:lux/Resources/Private/Language/locallang_db.xlf:module.list.link.remove">delete</f:translate>
            </f:link.action>
        </div>
    </div>
</f:section>
