{namespace core=TYPO3\CMS\Core\ViewHelpers}
<f:layout name="Backend"/>

<f:section name="content">
    <div class="row flex" data-lux-container="detail">
        <div class="col-md-6 flex">
            <f:render partial="Lead/Detail/Preview" arguments="{_all}"/>
        </div>
        <div class="col-md-6 flex">
            <f:render partial="Lead/Detail/Diagram" arguments="{_all}"/>
        </div>
    </div>

    <div class="row">
        <div class="col-md-6">
            <f:render partial="Lead/Detail/Scoring" arguments="{_all}"/>
        </div>
        <div class="col-md-6">
            <f:render partial="Lead/Detail/CategoryScoring" arguments="{_all}"/>
        </div>
    </div>

    <div class="row">
        <div class="col-md-6">
            <f:render partial="Lead/Detail/Properties" arguments="{_all}"/>
        </div>
        <div class="col-md-6">
            <f:render partial="Lead/Detail/Profiles" arguments="{_all}"/>
        </div>
    </div>

    <div class="row" style="padding-bottom: 20px;">
        <div class="col-md-12">
            <button onclick="window.history.back();" class="btn btn-primary">
                <f:translate key="LLL:EXT:lux/Resources/Private/Language/locallang_db.xlf:back">go back</f:translate>
            </button>

            <f:link.action action="deactivate" arguments="{visitor:visitor}" class="btn btn-default" onclick="return confirm('{f:translate(key:\"LLL:EXT:lux/Resources/Private/Language/locallang_db.xlf:areYouSure\")}')">
                <f:translate key="LLL:EXT:lux/Resources/Private/Language/locallang_db.xlf:module.list.link.deactivate">ignore</f:translate>
            </f:link.action>
            <f:link.action action="remove" arguments="{visitor:visitor}" class="btn btn-default" onclick="return confirm('{f:translate(key:\"LLL:EXT:lux/Resources/Private/Language/locallang_db.xlf:areYouSure\")}')">
                <f:translate key="LLL:EXT:lux/Resources/Private/Language/locallang_db.xlf:module.list.link.remove">delete</f:translate>
            </f:link.action>
        </div>
    </div>
</f:section>
