<div class="panel panel-default flex">
	<div class="panel-heading">
		<h3 class="panel-title">
			<f:translate key="LLL:EXT:lux/Resources/Private/Language/locallang_db.xlf:module.detail">Preview</f:translate>
		</h3>
	</div>
	<div class="panel-body">
		<div class="row">
			<div class="col-md-3">
				<img src="{lux:visitor.getVisitorImage(visitor:visitor)}" width="150" style="max-width: 100%; margin-top: 20px;" class="img-circle img-responsive" />
			</div>
			<div class="col-md-9">
				<h3 title="UID{visitor.uid}">
					{visitor.fullName}
					<span class="badge" title="{f:translate(key:'LLL:EXT:lux/Resources/Private/Language/locallang_db.xlf:tx_lux_domain_model_visitor.scoring')}">{visitor.scoring}</span>
					<f:if condition="{visitor.hottestCategoryscoring}">
						<span class="badge badge-primary" title="{visitor.hottestCategoryscoring.category.title}">{visitor.hottestCategoryscoring.scoring}</span>
					</f:if>
					<f:if condition="{visitor.identified}"><a href="http://www.google.com/search?q={visitor.fullName}" target="_blank" title="Search on google"><img src="{f:uri.resource(path:'Images/LogoGoogle.svg',extensionName:'Lux')}" width="16" /></a></f:if>
				</h3>

				<f:if condition="{visitor.attributes}">
					<table class="table table-striped table-hover table-condensed">
						<f:for each="{visitor.importantAttributes}" as="attribute">
							<tr>
								<td><strong>{attribute.label}</strong></td>
								<td>{attribute.value}</td>
							</tr>
						</f:for>
						<f:if condition="{visitor.unimportantAttributes}">
							<tr>
								<td><f:translate key="LLL:EXT:lux/Resources/Private/Language/locallang_db.xlf:module.detail.moreattributes">More attributes</f:translate></td>
								<td><f:translate key="LLL:EXT:lux/Resources/Private/Language/locallang_db.xlf:seebelow">See below...</f:translate></td></tr>
						</f:if>
					</table>
				</f:if>

				<div class="row">
					<div class="col-md-12">
						<table class="table table-striped table-hover table-condensed">
							<tr>
								<th><f:translate key="LLL:EXT:lux/Resources/Private/Language/locallang_db.xlf:tx_lux_domain_model_visitor.crdate">First visit</f:translate></th>
								<td>{lux:format.readableDate(date:visitor.crdate)} ({f:format.date(date:visitor.crdate,format:'{f:translate(key:\'LLL:EXT:lux/Resources/Private/Language/locallang_db.xlf:date\')}')})</td>
							</tr>
							<tr>
								<th><f:translate key="LLL:EXT:lux/Resources/Private/Language/locallang_db.xlf:tx_lux_domain_model_visitor.tstamp">Last visit</f:translate></th>
								<td>{lux:format.readableDate(date:visitor.tstamp)} ({f:format.date(date:visitor.tstamp,format:'{f:translate(key:\'LLL:EXT:lux/Resources/Private/Language/locallang_db.xlf:date\')}')})</td>
							</tr>
							<f:if condition="{visitor.referrer}">
								<tr>
									<th><f:translate key="LLL:EXT:lux/Resources/Private/Language/locallang_db.xlf:tx_lux_domain_model_visitor.referrer">Source</f:translate></th>
									<td>
										<a href="{visitor.referrer}" target="_blank" title="{visitor.referrer}">{visitor.readableReferrer}</a>
									</td>
								</tr>
							</f:if>
						</table>
					</div>
				</div>

				<div class="row">
					<div class="col-md-12">
						<table class="table table-striped table-hover table-condensed">
							<f:for each="{visitor.importantIpinformations}" as="information">
								<tr>
									<td>
										{information.value}
										<f:if condition="{information.name} == 'city'">
											<a href="https://www.google.com/maps/?q={visitor.latitude},{visitor.longitude}" target="_blank" title="View on google maps"><img src="{f:uri.resource(path:'Images/LogoGoogleMaps.svg',extensionName:'Lux')}" width="16" /></a>
										</f:if>
									</td>
								</tr>
							</f:for>
						</table>
					</div>
				</div>

				<div class="row">
					<div class="col-md-12">
						<textarea class="lux-textarea{f:if(condition:'{visitor.description}',else:' lux-textarea__default')}" data-lux-visitor-description="{visitor.uid}"><f:if condition="{visitor.description}"><f:then>{visitor.description}</f:then><f:else><f:translate key="LLL:EXT:lux/Resources/Private/Language/locallang_db.xlf:module.detail.description">Add text...</f:translate></f:else></f:if></textarea>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
